USE [AVKDB]
GO
/****** Object:  StoredProcedure [dbo].[USP_GL_JournalType_List]    Script Date: 6/13/2026 2:42:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
Author			: Anton
Create date		: 2018-11-19
Description		: JoournalType List for Financial Application

/*	
	EXEC [dbo].[USP_GL_JournalType_List] 1,15,'RowNumber','asc','R','','','',''
	EXEC [dbo].[USP_GL_JournalType_List] 1,10,'RowNumber','asc','C','','','',''
	EXEC		USP_GL_JournalType_List  1,10,'RowNumber','asc','R','','','',''
	EXEC USP_GL_JournalType_List 1,10,'RowNumber','asc','R','','','',''
	EXEC USP_GL_JournalType_List 1,10,'RowNumber','asc','C','','','',''
*/
-- ============================================= */

CREATE PROCEDURE [dbo].[USP_GL_JournalType_List]
	@Page					INT,	
	@Row					INT,
	@SortBy					VARCHAR(50),
	@SortDir				VARCHAR(50),
	@ReturnType				CHAR(1), --R = Record, C = Count	
	---------------------------------------------------------------
	@JournalTypeID			VARCHAR(5),
	@JournalTypeDesc		VARCHAR(100),
	@AllowJournalEntry		VARCHAR(3),
	@JournalLabel			VARCHAR(100)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	-- Insert statements for procedure here
	DECLARE @FromRow				AS INT
	DECLARE @ToRow					AS INT
	------------------------------------------------------------
	DECLARE @_JournalTypeID			AS VARCHAR(5)
	DECLARE @_JournalTypeDesc		AS VARCHAR(100)
	DECLARE @_AllowJournalEntry		AS VARCHAR(3)
	DECLARE @_JournalLabel			AS VARCHAR(100)
	-------------------------------------------------------------
	DECLARE @_Sort1					AS VARCHAR(100)
	DECLARE @_Sort2					AS VARCHAR(100)
	-------------------------------------------------------------
	DECLARE @SqlSelect				AS VARCHAR(5000)
	DECLARE @SqlFrom				AS VARCHAR(5000)
	DECLARE @SqlWhere				AS VARCHAR(5000)
	DECLARE @SqlLimit				AS VARCHAR(5000)
	DECLARE @SqlOrder				AS VARCHAR(5000)
	
	SET @_JournalTypeID = '%' + RTRIM(@JournalTypeID) + '%'	
	SET @_JournalTypeDesc = '%' + RTRIM(@JournalTypeDesc) + '%'
	SET @_AllowJournalEntry = '%' + RTRIM(@AllowJournalEntry) + '%'
	SET @_JournalLabel = '%' + RTRIM(@JournalLabel) + '%'

	SET @_Sort1 = @SortBy + ' ' + @SortDir
	SET @_Sort2 = @SortBy + ' ' + @SortDir

	IF RTRIM(@SortBy) = 'RowNumber' OR RTRIM(@SortBy) = 'ID'
	BEGIN
		SET @_Sort1 = ' IDX_M_JournalType ' + @SortDir		
	END	
		
	-- SET Paging and Row Number
	IF @Page = 1
	BEGIN
		SET @FromRow = 1
		SET @ToRow = @Row
	END

	IF @Page > 1
	BEGIN
		SET @FromRow = ((@Page * @Row) - @Row) + 1
		SET @ToRow = @FromRow + @Row - 1		
	END

	SET @SqlSelect = '	SELECT * FROM (
							SELECT 
								ROW_NUMBER() OVER (ORDER BY ' + @_Sort1 + ') AS RowNumber, 
								IDX_M_JournalType, JournalTypeID, JournalTypeDesc, AllowJournalEntry, JournalLabel,
								RecordStatus, StatusDesc = CASE RecordStatus WHEN ''A'' THEN ''Active'' ELSE ''Inactive'' END ' 							
	
	SET @SqlFrom = 'FROM GL_M_JournalType JT '

	SET @SqlWhere = 'WHERE RTRIM(ISNULL(JournalTypeID,''''))  LIKE ''' + @_JournalTypeID + 
						''' AND RTRIM(ISNULL(JournalTypeDesc,'''')) LIKE ''' + @_JournalTypeDesc + 
						''' AND RTRIM(ISNULL(AllowJournalEntry,'''')) LIKE ''' + @_AllowJournalEntry + 
						''' AND RTRIM(ISNULL(JournalLabel,'''')) LIKE ''' + @_JournalLabel + ''''

	SET @SqlLimit = ') AS DerivedTable WHERE RowNumber BETWEEN ' + CONVERT(VARCHAR,@FromRow) + ' AND ' + CONVERT(VARCHAR,@ToRow) 

	SET @SqlOrder = ''

	-- ==================================================
	-- Output
	-- ==================================================

    IF @ReturnType = 'R'
	BEGIN
		--PRINT(@SqlSelect + @SqlFrom + @SqlWhere + @SqlLimit + @SqlOrder)
		EXEC(@SqlSelect + @SqlFrom + @SqlWhere + @SqlLimit + @SqlOrder)
	END
	
	IF @ReturnType = 'C'
	BEGIN
		--PRINT ('SELECT COUNT(*) AS TotalRows ' + @SqlFrom + @SqlWhere)
		EXEC ('SELECT COUNT(*) AS TotalRows ' + @SqlFrom + @SqlWhere)		
	END

END










GO
