USE [AVKDB]
GO
/****** Object:  StoredProcedure [dbo].[USP_CM_InternalTransfer_Approve]    Script Date: 6/13/2026 2:42:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Samuel Febrianto
-- Create date: 01 October 2018
-- Description:	Approval Internal Transfer
-- =============================================


/* 
	BEGIN TRAN
	EXEC [dbo].[USP_CM_InternalTransfer_Approve] 1,'Ok, Test Hutang dan Journal','admin'
	ROLLBACK TRAN
*/

CREATE PROCEDURE [dbo].[USP_CM_InternalTransfer_Approve] 
	@IDX_T_InternalTransferHeader		BIGINT,
	@ApprovalDate						VARCHAR(10),
	@ApproveRemark						VARCHAR(500),
	@UserID								VARCHAR(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	BEGIN TRY

		BEGIN TRANSACTION;
			
			DECLARE @_CountDetail			AS INT
			DECLARE @_TotalAmount			AS DECIMAL(22,2)
			DECLARE @_DetailAmount			AS DECIMAL(22,2)
			DECLARE @_AllocationAmount		AS DECIMAL(22,2)
			DECLARE @_CountLog				AS INT

			/** TableLog **/
			DECLARE @TableLog TABLE (
				Result		VARCHAR(20),	
				ID			BIGINT,			
				LogDesc		VARCHAR(500)
			)

			/** Check User Access Right **/
			--DECLARE @_FormID AS VARCHAR(20)
			--SET @_FormID = 'CM-FIRC-005' -- Approval Receiving Item

			--DECLARE @Output INT
			--EXEC USP_SM_CheckUserForm @UserID,@_FormID, @Output OUT

			--IF @Output <> 1
			--BEGIN
			--	INSERT INTO @TableLog VALUES ('error',0,'You Dont Have Access!')
			--END
			/****************************/

			SELECT @_CountDetail = COUNT(IDX_T_InternalTransferDetail), @_DetailAmount = SUM(TransferAmount) 
			FROM CM_T_InternalTransferDetail
			WHERE IDX_T_InternalTransferHeader = @IDX_T_InternalTransferHeader

			SELECT @_TotalAmount = TotalTransferAmount FROM CM_T_InternalTransferHeader WHERE IDX_T_InternalTransferHeader = @IDX_T_InternalTransferHeader
						

			IF @_TotalAmount = NULL SET @_TotalAmount = 0
			IF @_DetailAmount = NULL SET @_DetailAmount = 0

			--IF @_CountDetail = 0
			--BEGIN
			--	INSERT INTO @TableLog VALUES ('error',@IDX_T_InternalTransferHeader,'No Data in Detail Transaction')
			--END	
				

			--Check Error Log
			SELECT @_CountLog = COUNT(*) FROM @TableLog

			IF @_CountLog = 0
			BEGIN 							
				
				-- ==========================
				-- Generate Transfer ID
				-- ==========================
				DECLARE @_IDX_M_Branch			AS INT
				DECLARE @_BranchID				AS VARCHAR(20)
				DECLARE @_LastNumber			AS INTEGER
				DECLARE @_Month					AS VARCHAR(4)
				DECLARE @_Year					AS VARCHAR(2)
				DECLARE @_TransferID			AS VARCHAR(20)
				DECLARE @_TransferDate			AS DATE
				DECLARE @_IDX_M_DocumentType	AS BIGINT
				DECLARE @_DocumentTypeID		AS CHAR(3)

				SET @_LastNumber = 0

				-- ==========================================
				-- Get Data From Financial Receive Header
				-- ==========================================

				SELECT @_TransferDate = TransferDate, @_IDX_M_DocumentType = IDX_M_DocumentType, @_IDX_M_Branch = IDX_M_Branch 
				FROM CM_T_InternalTransferHeader 
				WHERE IDX_T_InternalTransferHeader = @IDX_T_InternalTransferHeader

				SELECT @_BranchID = BranchID FROM GN_M_Branch WHERE IDX_M_Branch = @_IDX_M_Branch

				SELECT @_DocumentTypeID = DocumentTypeID FROM GN_M_DocumentType WHERE IDX_M_DocumentType = @_IDX_M_DocumentType
								
				IF EXISTS(	SELECT TOP 1 TransferID
							FROM CM_T_InternalTransferHeader 
							WHERE MONTH(TransferDate) = MONTH(@_TransferDate)
								AND YEAR(TransferDate) = YEAR(@_TransferDate) AND TransferStatus IN ('A','F')
							ORDER BY TransferID DESC)
				BEGIN

					SELECT TOP 1 @_LastNumber = CONVERT(INT,RIGHT(RTRIM(TransferID),4))
					FROM CM_T_InternalTransferHeader 
					WHERE MONTH(TransferDate) = MONTH(@_TransferDate)
							AND YEAR(TransferDate) = YEAR(@_TransferDate) AND TransferStatus IN ('A','F')
					ORDER BY TransferID DESC

				END			

				SET @_Month = '00' + CONVERT(VARCHAR,MONTH(@_TransferDate))
				SET @_Month = RIGHT(RTRIM(@_Month),2)

				SET @_Year = RIGHT(CONVERT(VARCHAR,YEAR(@_TransferDate)),2)

				/** Set Sales Order No **/
				SET @_TransferID = @_DocumentTypeID + '/' + @_BranchID + '/' 
					+ @_Year
					+ @_Month 
					+ RIGHT('00000' + CONVERT(VARCHAR,@_LastNumber + 1),4)

				-- Update status
				UPDATE CM_T_InternalTransferHeader 
				SET TransferID = @_TransferID,
					TransferStatus = 'A', ApprovalDate = GETDATE(), ApprovalBy = @UserID, 
					ApprovalRemark = @ApproveRemark, DModified = GETDATE(), UModified = @UserID 
				WHERE IDX_T_InternalTransferHeader = @IDX_T_InternalTransferHeader

				-- =======================================================================
				-- Insert into log table
				-- =======================================================================
				INSERT INTO [dbo].[CM_T_InternalTransferLog]
					([IDX_T_InternalTransferHeader]
					,[LogType]
					,[LogDate]
					,[LogRemark]
					,[UCreate]
					,[DCreate]						   
					,[RecordStatus])
				SELECT @IDX_T_InternalTransferHeader, 'Approval', GETDATE(), @ApproveRemark, @UserID, GETDATE(), 'A'

				INSERT INTO @TableLog VALUES ('success', @IDX_T_InternalTransferHeader, 'Data Sudah Disimpan')
			END		

			SELECT * FROM @TableLog

			COMMIT TRANSACTION;	

	END TRY

	BEGIN CATCH				

		INSERT INTO @TableLog VALUES ('error', @IDX_T_InternalTransferHeader, CONVERT(VARCHAR, ERROR_NUMBER() + ' '  + ERROR_MESSAGE()))
				
		SELECT * FROM @TableLog

		--SELECT 	ERROR_NUMBER() AS ErrorNumber, ERROR_MESSAGE() AS ErrorMessage;
			
		-- Test XACT_STATE for 1 or -1.
		-- XACT_STATE = 0 means there is no transaction and
		-- a commit or rollback operation would generate an error.

		-- Test whether the transaction is uncommittable.
		IF (XACT_STATE()) = -1
		BEGIN
			PRINT N'The transaction is in an uncommittable state. ' +	'Rolling back transaction.'
			ROLLBACK TRANSACTION;
		END;

		-- Test whether the transaction is active and valid.
		IF (XACT_STATE()) = 1
		BEGIN
			PRINT N'The transaction is committable. ' + 'Committing transaction.'
			COMMIT TRANSACTION;   
		END;

	END CATCH;
END



GO
