USE [AVKDB]
GO
/****** Object:  StoredProcedure [dbo].[USP_GL_R_TrialBalance]    Script Date: 6/13/2026 2:42:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		:	Anton
-- Create date	:	2019-10-09
-- Description	:	Trial Balance Report
-- =============================================

/*
	IDX 115 --> 308.11.105 (RE - Prior Years) = Laba Ditahan
	IDX 117 --> 308.11.106 (Retained Earning-Current Y.T.D) = Laba Tahun Berjalan
*/
-- EXEC [dbo].[USP_GL_R_TrialBalance] 1, 1, '2025-01-01', '2025-12-31'
-- EXEC [dbo].[USP_GL_R_TrialBalance] 1, 1, '2026-01-01', '2026-01-31'

-- EXEC [dbo].[USP_GL_R_TrialBalance] 1, 1, '2025-01-01', '2025-12-31'
-- EXEC [dbo].[USP_GL_R_TrialBalance] 1, 1, '2026-01-01', '2026-03-31'
-- EXEC [dbo].[USP_GL_R_TrialBalance] 1, 1, '2026-03-01', '2026-03-31'

CREATE PROCEDURE [dbo].[USP_GL_R_TrialBalance]	
	@IDX_M_Company		INT,
	@IDX_M_Branch		INT,
	@StartDate			DATE,
	@EndDate			DATE
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

-- ============================================================================================
-- Table Trial Balance
-- ============================================================================================
	CREATE TABLE #TB 
	(
		IDX_M_Company					BIGINT,
		IDX_M_Branch					BIGINT,
		IDX_M_COA						BIGINT,		
		---------------------------------------------------------------------
		CompanyID						VARCHAR(50),
		CompanyDesc						VARCHAR(50),
		BranchID						VARCHAR(50),
		BranchDesc						VARCHAR(50),
		COA								VARCHAR(250),
		COADesc							VARCHAR(250),
		AccountType						CHAR(2),
		---------------------------------------------------------------------
		BBBalanceAmount					DECIMAL(22,2),
		BDebetAmount					DECIMAL(22,2),
		BCreditAmount					DECIMAL(22,2),
		BMovementAmount					DECIMAL(22,2),
		BEBalanceAmount					DECIMAL(22,2)		
	)

	DECLARE @StartPeriod VARCHAR(6) = left(CONVERT(VARCHAR,@StartDate,112),6)
	DECLARE @MonthPeriod VARCHAR(2) = RIGHT(@StartPeriod,2)
	DECLARE @BeforeStartPeriod VARCHAR(6) = left(CONVERT(VARCHAR,DATEADD(M,-1,@StartDate),112),6) 
	--SELECT	@StartPeriod AS StartPeriod
	--SELECT	@MonthPeriod AS MonthPeriod
	--SELECT	@BeforeStartPeriod AS BeforeStartPeriod

	DECLARE @_CompanyID		VARCHAR(50)
	DECLARE @_CompanyName	VARCHAR(150)
	DECLARE @_BranchID		VARCHAR(50)
	DECLARE @_BranchName	VARCHAR(150)

	SELECT @_CompanyID = CompanyAlias, @_CompanyName = CompanyName 
	FROM GN_M_Company WHERE IDX_M_Company = @IDX_M_Company

	SELECT @_BranchID = BranchID, @_BranchName = BranchName
	FROM GN_M_Branch WHERE IDX_M_Branch = @IDX_M_Branch

	INSERT INTO #TB
	SELECT
		@IDX_M_Company, @IDX_M_Branch, COA.IDX_M_COA, @_CompanyID, @_CompanyName, 
		CASE WHEN @IDX_M_Branch > 0 THEN @_BranchID ELSE 'ALL' END, 
		CASE WHEN @IDX_M_Branch > 0 THEN @_BranchName ELSE 'ALL' END, 
		COA.COAID, COA.COADesc, COATYPE.COATypeID, 
		0.00, 0.00, 0.00, 0.00, 0.00
	FROM GL_M_COA COA
		INNER JOIN GL_M_COAType COATYPE ON COA.IDX_M_COAType = COATYPE.IDX_M_COAType
	WHERE COA.RecordStatus = 'A'
	--WHERE COA.COAFlag = 'A' AND COA.RecordStatus = 'A'

	
	-- =================================================================================================
	-- PERHITUNGAN BEGINNING BALANCE (SALDO AWAL)	
	-- =================================================================================================
	IF @IDX_M_Branch = 0 -- (ALL BRANCH)
	BEGIN

		IF EXISTS (
			SELECT IDX_GL_T_AccountBalance, JournalPeriod 
			FROM GL_T_AccountBalance AB
			WHERE AB.IDX_M_Company = @IDX_M_Company AND AB.JournalPeriod = @BeforeStartPeriod
		)
		BEGIN
			-- UPDATE FROM TABLE ACCOUNT BALANCE
			-- SET BEGINNING BALANCE = ENDING BALANCE PERIODE SEBELUMNYA
			UPDATE #TB SET 
				BBBalanceAmount = ISNULL(BEndingBalance,0)
			FROM #TB
				LEFT JOIN
			(
				SELECT IDX_M_COA, SUM(BEndingBalance) AS BEndingBalance
				FROM GL_T_AccountBalance AB
				WHERE AB.IDX_M_Company = @IDX_M_Company AND AB.JournalPeriod = @BeforeStartPeriod 
				GROUP BY IDX_M_COA
			) AB ON #TB.IDX_M_COA = AB.IDX_M_COA

		END
		ELSE
		BEGIN

			-- UPDATE BEGINING BALANCE FROM JOURNAL TRANSACTION (ENDING BALANCE FROM PREVIOUS PERIOD)
			UPDATE #TB SET 
				BBBalanceAmount = ISNULL(DebetAmount - CreditAmount,0)
			FROM #TB
				LEFT JOIN
			(
				SELECT JD.IDX_M_COA, SUM(JD.BDebetAmount) AS DebetAmount, SUM(JD.BCreditAmount) AS CreditAmount
				FROM GL_T_JournalHeader JH WITH(NOLOCK)
					 LEFT JOIN GL_T_JournalDetail JD WITH(NOLOCK) ON JH.IDX_T_JournalHeader = JD.IDX_T_JournalHeader
				WHERE	JH.PostingStatus = 'P' AND JH.RecordStatus = 'A' AND JD.RecordStatus = 'A' 
						AND CONVERT(DATE,JH.JournalDate) < @StartDate
						AND JH.IDX_M_Company = @IDX_M_Company
				GROUP BY JD.IDX_M_COA
			) Temp ON #TB.IDX_M_COA = Temp.IDX_M_COA

		END
	END
	ELSE
	BEGIN -- (SPECIFIC BRANCH)

		IF EXISTS (
			SELECT IDX_GL_T_AccountBalance, JournalPeriod 
			FROM GL_T_AccountBalance AB
			WHERE AB.IDX_M_Company = @IDX_M_Company AND AB.JournalPeriod = @BeforeStartPeriod
		)
		BEGIN
			-- UPDATE FROM TABLE ACCOUNT BALANCE
			-- SET BEGINNING BALANCE = ENDING BALANCE PERIODE SEBELUMNYA
			UPDATE #TB SET 
				BBBalanceAmount = ISNULL(BEndingBalance,0)
			FROM #TB
				LEFT JOIN
			(
				SELECT IDX_M_COA, SUM(BEndingBalance) AS BEndingBalance
				FROM GL_T_AccountBalance AB
				WHERE AB.IDX_M_Company = @IDX_M_Company 
					AND IDX_M_Branch = @IDX_M_Branch 
					AND AB.JournalPeriod = @BeforeStartPeriod 
				GROUP BY IDX_M_COA
			) AB ON #TB.IDX_M_COA = AB.IDX_M_COA
		END 
		ELSE
		BEGIN
			-- UPDATE BEGINING BALANCE FROM JOURNAL TRANSACTION (ENDING BALANCE FROM PREVIOUS PERIOD)
			UPDATE #TB SET 
				BBBalanceAmount = ISNULL(DebetAmount - CreditAmount,0)
			FROM #TB
				LEFT JOIN
			(
				SELECT JD.IDX_M_COA, SUM(JD.BDebetAmount) AS DebetAmount, SUM(JD.BCreditAmount) AS CreditAmount
				FROM GL_T_JournalHeader JH WITH(NOLOCK)
					 LEFT JOIN GL_T_JournalDetail JD WITH(NOLOCK) ON JH.IDX_T_JournalHeader = JD.IDX_T_JournalHeader
				WHERE JH.PostingStatus = 'P' 
					AND JH.RecordStatus = 'A' 
					AND JD.RecordStatus = 'A' 
					AND CONVERT(DATE,JH.JournalDate) < @StartDate
					AND JH.IDX_M_Company = @IDX_M_Company
					AND JH.IDX_M_Branch = @IDX_M_Branch
				GROUP BY JD.IDX_M_COA
			) Temp ON #TB.IDX_M_COA = Temp.IDX_M_COA
		END
	END

	-- ======================================================================
	-- PERHITUNGAN TOTAL RETAINED EARNING (LABA DITAHAN) TAHUN SEBELUMNYA
	-- ======================================================================
	
	DECLARE @_RetainedEarningAccount		INT
	DECLARE @_CurrentEarningAccount			INT

	DECLARE @_TotalPrevIncome				DECIMAL(22,2)
	DECLARE @_TotalPrevExpense				DECIMAL(22,2)
	DECLARE @_TotalRetainedEarning			DECIMAL(22,2)

	DECLARE @_Total_BB_CurrentEarning		DECIMAL(22,2)
	DECLARE @_TotalCurrentIncome			DECIMAL(22,2)
	DECLARE @_TotalCurrentExpense			DECIMAL(22,2)
	DECLARE @_TotalCurrentEarning			DECIMAL(22,2)

	-- GET COA FOR RETAINED EARNING (LABA DITAHAN) & CURRENT EARNING (LABA TAHUN BERJALAN)
	SELECT @_RetainedEarningAccount = RetainedEarningAccount, @_CurrentEarningAccount = CurrentEarningAccount
	FROM GN_M_Company 
	WHERE IDX_M_Company = @IDX_M_Company

	SELECT @_TotalRetainedEarning = (SUM(JD.BDebetAmount) - SUM(JD.BCreditAmount))
	FROM GL_T_JournalHeader JH WITH(NOLOCK)
	LEFT JOIN GL_T_JournalDetail JD WITH(NOLOCK) ON JH.IDX_T_JournalHeader = JD.IDX_T_JournalHeader
	LEFT JOIN GL_M_COA C ON C.IDX_M_COA = JD.IDX_M_COA
	WHERE	JH.PostingStatus = 'P' AND JH.RecordStatus = 'A' AND JD.RecordStatus = 'A' 
			AND YEAR(JH.JournalDate) < YEAR(@StartDate)
			AND JH.IDX_M_Company = @IDX_M_Company
			AND JH.IDX_M_Branch = @IDX_M_Branch
			AND C.IDX_M_COAType IN (3,4)

	SELECT @_Total_BB_CurrentEarning = (SUM(JD.BDebetAmount) - SUM(JD.BCreditAmount))
	FROM GL_T_JournalHeader JH WITH(NOLOCK)
	LEFT JOIN GL_T_JournalDetail JD WITH(NOLOCK) ON JH.IDX_T_JournalHeader = JD.IDX_T_JournalHeader
	LEFT JOIN GL_M_COA C ON C.IDX_M_COA = JD.IDX_M_COA
	WHERE	JH.PostingStatus = 'P' AND JH.RecordStatus = 'A' AND JD.RecordStatus = 'A' 
			AND CONVERT(DATE, JH.JournalDate) < @StartDate
			AND YEAR(JH.JournalDate) = YEAR(@StartDate)
			AND JH.IDX_M_Company = @IDX_M_Company
			AND JH.IDX_M_Branch = @IDX_M_Branch
			AND C.IDX_M_COAType IN (3,4)

	SELECT @_TotalCurrentIncome = (SUM(JD.BDebetAmount) - SUM(JD.BCreditAmount)) 
	FROM GL_T_JournalHeader JH WITH(NOLOCK)
	LEFT JOIN GL_T_JournalDetail JD WITH(NOLOCK) ON JH.IDX_T_JournalHeader = JD.IDX_T_JournalHeader
	LEFT JOIN GL_M_COA C ON C.IDX_M_COA = JD.IDX_M_COA
	WHERE	JH.PostingStatus = 'P' AND JH.RecordStatus = 'A' AND JD.RecordStatus = 'A' 
			AND CONVERT(DATE, JH.JournalDate) BETWEEN @StartDate AND @EndDate
			AND JH.IDX_M_Company = @IDX_M_Company
			AND JH.IDX_M_Branch = @IDX_M_Branch
			AND C.IDX_M_COAType = 3

	SELECT @_TotalCurrentExpense = (SUM(JD.BDebetAmount) - SUM(JD.BCreditAmount)) 
	FROM GL_T_JournalHeader JH WITH(NOLOCK)
	LEFT JOIN GL_T_JournalDetail JD WITH(NOLOCK) ON JH.IDX_T_JournalHeader = JD.IDX_T_JournalHeader
	LEFT JOIN GL_M_COA C ON C.IDX_M_COA = JD.IDX_M_COA
	WHERE	JH.PostingStatus = 'P' AND JH.RecordStatus = 'A' AND JD.RecordStatus = 'A' 
			AND CONVERT(DATE, JH.JournalDate) BETWEEN @StartDate AND @EndDate
			AND JH.IDX_M_Company = @IDX_M_Company
			AND JH.IDX_M_Branch = @IDX_M_Branch
			AND C.IDX_M_COAType = 4

	SELECT @_TotalCurrentEarning = (SUM(JD.BDebetAmount) - SUM(JD.BCreditAmount)) 
	FROM GL_T_JournalHeader JH WITH(NOLOCK)
	LEFT JOIN GL_T_JournalDetail JD WITH(NOLOCK) ON JH.IDX_T_JournalHeader = JD.IDX_T_JournalHeader
	LEFT JOIN GL_M_COA C ON C.IDX_M_COA = JD.IDX_M_COA
	WHERE	JH.PostingStatus = 'P' AND JH.RecordStatus = 'A' AND JD.RecordStatus = 'A' 
			AND CONVERT(DATE, JH.JournalDate) BETWEEN @StartDate AND @EndDate
			AND JH.IDX_M_Company = @IDX_M_Company
			AND JH.IDX_M_Branch = @IDX_M_Branch
			AND C.IDX_M_COAType IN (3,4)

	PRINT 'Current Earning Account: ' + CONVERT(VARCHAR, @_CurrentEarningAccount)
	PRINT 'Total Current Earning: ' + CONVERT(VARCHAR, @_TotalCurrentEarning)
	PRINT 'Total Current Income: ' + CONVERT(VARCHAR, @_TotalCurrentIncome)
	PRINT 'Total Current Expense: ' + CONVERT(VARCHAR, @_TotalCurrentExpense)

	UPDATE #TB SET 
		BBBalanceAmount = @_TotalRetainedEarning
	WHERE IDX_M_COA = @_RetainedEarningAccount

	UPDATE #TB SET 
		BBBalanceAmount = @_Total_BB_CurrentEarning
	WHERE IDX_M_COA = @_CurrentEarningAccount

	--UPDATE #TB SET 
	--	BDebetAmount = @_TotalCurrentEarning
	--WHERE IDX_M_COA = @_CurrentEarningAccount AND @_TotalCurrentEarning > 0

	UPDATE #TB SET 
		BDebetAmount = ABS(@_TotalCurrentExpense),
		BCreditAmount = ABS(@_TotalCurrentIncome)
	WHERE IDX_M_COA = @_CurrentEarningAccount 

	-- ==================================================================================================================================================
	-- ONLY FOR MONTH 01 - JANUARI
	-- ==================================================================================================================================================
	IF @MonthPeriod = '01'
	BEGIN

		-- AMBIL SALDO LABA TAHUN BERJALAN TAMBAH KE LABA DITAHAN, 
		-- UPDATE BEGINNING BALANCE JADI 0 UTK COA LTB, INCOME, & EXPENSE

		SELECT @_TotalPrevIncome = ABS(SUM(BBBalanceAmount)) 
		FROM #TB 
		WHERE AccountType = 'IC'

		SELECT @_TotalPrevExpense = ABS(SUM(BBBalanceAmount)) 
		FROM #TB 
		WHERE AccountType = 'EX'

		--PRINT CONVERT(VARCHAR, @_TotalPrevIncome)
		--PRINT CONVERT(VARCHAR, @_TotalPrevExpense)

		UPDATE #TB SET 
			BBBalanceAmount = (@_TotalPrevIncome - @_TotalPrevExpense)
		WHERE IDX_M_COA = @_CurrentEarningAccount

		

		CREATE TABLE #LTB 
		(	
			IDX_M_Company		INT,
			IDX_Branch			INT,
			LTB					MONEY
		)
		
		INSERT INTO #LTB
		SELECT IDX_M_Company, IDX_M_Branch, BBBalanceAmount 
		FROM #TB 
		WHERE IDX_M_COA = @_CurrentEarningAccount

		IF @IDX_M_Branch = 0
		BEGIN
			UPDATE #TB SET #TB.BBBalanceAmount = (#TB.BBBalanceAmount + B.LTB)
			FROM #TB 
			INNER JOIN #LTB B ON #TB.IDX_M_Company = B.IDX_M_Company
			WHERE IDX_M_COA = @_CurrentEarningAccount
		END
		ELSE
		BEGIN
			UPDATE #TB SET #TB.BBBalanceAmount = (#TB.BBBalanceAmount + B.LTB)
			FROM #TB 
				INNER JOIN #LTB B ON #TB.IDX_M_Company = B.IDX_M_Company AND #TB.IDX_M_Branch = B.IDX_Branch
			WHERE IDX_M_COA = @_CurrentEarningAccount
		END

		-- =============================================================================================================================================
		-- Update beginning balance jadi 0 untuk COA LTB, Income, dan Expense
		-- =============================================================================================================================================
		UPDATE #TB SET BBBalanceAmount = 0 WHERE IDX_M_COA = @_CurrentEarningAccount 
		UPDATE #TB SET BBBalanceAmount = 0 WHERE AccountType IN ('IC','EX')

	END
	-- ==================================================================================================================================================

	--QUERT RESULT ADDED DATA INTO BEGINNING BALANCE TEMPLATE TB
	--SELECT * FROM #TB

	-- ==================================================================================================================================================
	-- UPDATE ACCOUNT MOVEMENT (DEBET, CREDIT, AND MOVEMENT AMOUNT) IN TEMPLATE TB 
	-- EXCEPT FOR ACCOUNT RETAINED EARNING (LABA DITAHAN) & CURRENT EARNING (LABA TAHUN BERJALAN) BECAUSE IT HAS BEEN CALCULATED IN BEGINNING BALANCE
	-- ==================================================================================================================================================
	IF @IDX_M_Branch = 0
	BEGIN

		UPDATE #TB SET 
			BDebetAmount = ISNULL(DebetAmount,0), 
			BCreditAmount = ISNULL(CreditAmount,0), 
			BMovementAmount = ISNULL(DebetAmount,0) - ISNULL(CreditAmount,0)
		FROM #TB
		LEFT JOIN
		(
			SELECT JD.IDX_M_COA, SUM(JD.BDebetAmount) AS DebetAmount, SUM(JD.BCreditAmount) AS CreditAmount
			FROM GL_T_JournalHeader JH WITH(NOLOCK)
					LEFT JOIN GL_T_JournalDetail JD WITH(NOLOCK) ON JH.IDX_T_JournalHeader = JD.IDX_T_JournalHeader
			WHERE	JH.PostingStatus = 'P' AND JH.RecordStatus = 'A' AND JD.RecordStatus = 'A' 
					AND (CONVERT(DATE,JH.JournalDate) BETWEEN @StartDate AND @EndDate) 
					AND JH.IDX_M_Company = @IDX_M_Company
			GROUP BY JD.IDX_M_COA
		)	Temp ON #TB.IDX_M_COA = Temp.IDX_M_COA
		WHERE #TB.IDX_M_COA <> @_RetainedEarningAccount AND #TB.IDX_M_COA <> @_CurrentEarningAccount
	END
	ELSE
	BEGIN

		UPDATE #TB SET 
			BDebetAmount = ISNULL(DebetAmount,0), 
			BCreditAmount = ISNULL(CreditAmount,0), 
			BMovementAmount = ISNULL(DebetAmount,0) - ISNULL(CreditAmount,0)
		FROM #TB
			LEFT JOIN
			(
				SELECT JH.IDX_M_Branch, JD.IDX_M_COA, SUM(JD.BDebetAmount) AS DebetAmount, SUM(JD.BCreditAmount) AS CreditAmount
				FROM GL_T_JournalHeader JH WITH(NOLOCK)
					 LEFT JOIN GL_T_JournalDetail JD WITH(NOLOCK) ON JH.IDX_T_JournalHeader = JD.IDX_T_JournalHeader
				WHERE	JH.PostingStatus = 'P' AND JH.RecordStatus = 'A' AND JD.RecordStatus = 'A' 
						AND (CONVERT(DATE,JH.JournalDate) BETWEEN @StartDate AND @EndDate) 
						AND JH.IDX_M_Company = @IDX_M_Company 
						AND JH.IDX_M_Branch = @IDX_M_Branch
				GROUP BY JH.IDX_M_Branch, JD.IDX_M_COA
			)	Temp ON #TB.IDX_M_COA = Temp.IDX_M_COA AND #TB.IDX_M_Branch = Temp.IDX_M_Branch
		WHERE #TB.IDX_M_COA <> @_RetainedEarningAccount AND #TB.IDX_M_COA <> @_CurrentEarningAccount
	END
	-- ==========================================================================================================================================================

	--QUERT RESULT ADDED DEBET, CREDIT, AND MOVEMENT TEMPLATE TB
	--SELECT * FROM #TB

	UPDATE #TB SET 			
		BMovementAmount = ISNULL(BDebetAmount,0) - ISNULL(BCreditAmount,0)
	WHERE IDX_M_COA = @_CurrentEarningAccount

	UPDATE #TB SET 
		BEBalanceAmount = BBBalanceAmount + BMovementAmount


	--QUERT RESULT ADDED ENDING BALANCE INTO TEMPLATE TB
	SELECT * FROM #TB ORDER BY COA

	-- DROP TEMP TABLE
	DROP TABLE #TB

END

GO
