USE [AVKDB]
GO
/****** Object:  StoredProcedure [dbo].[USP_GL_Journal_List]    Script Date: 6/13/2026 2:42:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Samuel Febrianto
-- Create date: 20 Oktober 2016
-- Description:	Inquiry Paging Master Item
-- =============================================

/*	
	EXEC [USP_GL_Journal_List] 1,10,'RowNumber','asc','R',1,1,'','','','',''
*/

CREATE PROCEDURE [dbo].[USP_GL_Journal_List] 
	@Page					INT,	
	@Row					INT,
	@SortBy					VARCHAR(50),
	@SortDir				VARCHAR(50),
	@ReturnType				CHAR(1), --R = Record, C = Count
	---------------------------------------------
	@IDX_M_Company			BIGINT,
	@IDX_M_Branch			BIGINT,
	@ReferenceNo			VARCHAR(50),
	@VoucherNo				VARCHAR(50),
	@RemarkHeader			VARCHAR(100),
	@PostingStatus			VARCHAR(1),
	@PartnerDesc			VARCHAR(50),
	@UserID					VARCHAR(50)
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	DECLARE @FromRow			AS INT
	DECLARE @ToRow				AS INT

	DECLARE @_ReferenceNo		AS VARCHAR(50)
	DECLARE @_VoucherNo			AS VARCHAR(50)
	DECLARE @_RemarkHeader		AS VARCHAR(100)
	DECLARE @_PostingStatus		AS VARCHAR(50)
	DECLARE @_PartnerDesc		AS VARCHAR(50)	
	DECLARE @_Sort				AS VARCHAR(100)

	DECLARE @SqlSelect			AS VARCHAR(5000)
	DECLARE @SqlFrom			AS VARCHAR(5000)
	DECLARE @SqlWhere			AS VARCHAR(5000)
	DECLARE @SqlLimit			AS VARCHAR(5000)
	DECLARE @SqlOrder			AS VARCHAR(5000)

	SET @_ReferenceNo = '%' + RTRIM(@ReferenceNo) + '%'
	SET @_VoucherNo = '%' + RTRIM(@VoucherNo) + '%'
	SET @_RemarkHeader = '%' + RTRIM(@RemarkHeader) + '%'
	SET @_PostingStatus = '%' + RTRIM(@PostingStatus) + '%'
	SET @_PartnerDesc = '%' + RTRIM(@PartnerDesc) + '%'	

	IF RTRIM(@SortBy) = 'RowNumber'
		SET @SortBy = 'IDX_T_JournalHeader'

	IF RTRIM(@SortBy) = 'IDX_M_Company'
		SET @SortBy = 'IDX_T_JournalHeader'

	SET @_Sort = @SortBy + ' ' + @SortDir

	-- SET Paging and Row Number
	IF @Page = 1
	BEGIN
		SET @FromRow = 1
		SET @ToRow = @Row
	END

	IF @Page > 1
	BEGIN
		SET @FromRow = ((@Page * @Row) - @Row) + 1
		SET @ToRow = @FromRow + @Row - 1		
	END

	SET @SqlSelect = 'SELECT * FROM (
						SELECT ROW_NUMBER() OVER (ORDER BY ' + @_Sort + ') AS RowNumber, 
							JH.IDX_M_Company, MC.CompanyName, JH.IDX_M_Branch, MB.BranchName, 
							IDX_T_JournalHeader, IDX_M_Partner, PartnerDesc, 
							ReferenceNo, VoucherNo, CONVERT(VARCHAR,JournalDate,106) AS JournalDate, RemarkHeader, PostingStatus, 
							PostingStatusDesc = CASE PostingStatus WHEN ''P'' THEN ''Posted'' WHEN ''U'' THEN ''Unposted'' END '
								
	SET @SqlFrom = ' FROM GL_T_JournalHeader JH (NOLOCK) 
							LEFT JOIN GN_M_Company MC ON JH.IDX_M_Company = MC.IDX_M_Company
							LEFT JOIN GN_M_Branch MB ON JH.IDX_M_Branch = MB.IDX_M_Branch
							INNER JOIN (SELECT B.IDX_M_Branch
								FROM SM_M_User A WITH(NOLOCK)
									INNER JOIN SM_M_UserBranch B WITH(NOLOCK) ON A.IDX_M_User = B.IDX_M_User
								WHERE B.RecordStatus = ''A'' AND RTRIM(A.LoginID) = ''' + @UserID + ''') UB ON JH.IDX_M_Branch = UB.IDX_M_Branch '

	SET @SqlWhere = ' WHERE RTRIM(ISNULL(JH.ReferenceNo,'''')) LIKE ''' + @_ReferenceNo + 
						''' AND RTRIM(ISNULL(JH.VoucherNo,'''')) LIKE ''' + @_VoucherNo + 
						''' AND RTRIM(ISNULL(JH.RemarkHeader,'''')) LIKE ''' + @_RemarkHeader + 
						''' AND RTRIM(ISNULL(JH.PartnerDesc,'''')) LIKE ''' + @_PartnerDesc + 
						''' AND RTRIM(ISNULL(JH.PostingStatus,'''')) LIKE ''' + @_PostingStatus + '''' 						

	SET @SqlLimit = ') AS DerivedTable WHERE RowNumber BETWEEN ' + CONVERT(VARCHAR,@FromRow) + ' AND ' + CONVERT(VARCHAR,@ToRow) 

	SET @SqlOrder = ' ORDER BY ' + @_Sort

    IF @ReturnType = 'R'
	BEGIN
		--PRINT(@SqlSelect + @SqlFrom  + @SqlWhere + @SqlLimit + @SqlOrder)
		EXEC(@SqlSelect + @SqlFrom + @SqlWhere + @SqlLimit + @SqlOrder)
	END
	
	IF @ReturnType = 'C'
	BEGIN
		--PRINT ('SELECT COUNT(*) AS TotalRows ' + @SqlFrom + @SqlWhere)
		EXEC ('SELECT COUNT(*) AS TotalRows ' + @SqlFrom + @SqlWhere)		
	END
END




GO
