USE [AVKDB]
GO
/****** Object:  StoredProcedure [dbo].[USP_CM_InternalTransferHeader_Create]    Script Date: 6/13/2026 2:42:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Samuel Febrianto
-- Create date: 01 Oktober 2018
-- Description:	Create Table Internal Transfer Header
-- =============================================

/*	
	EXEC [dbo].[USP_CM_InternalTransferHeader_Create] 
					 1
					,1
					,1
					,4
					,1
					,1
					,2
					,0
					,'PMT'
					,'2018-06-06'
					,'Kencana Zone 1'
					,'D'
					,15200000
					,'1406069'
					,'A'
*/

CREATE PROCEDURE [dbo].[USP_CM_InternalTransferHeader_Create] 	
	@IDX_M_Company				BIGINT,
	@IDX_M_Branch				BIGINT,	
	@IDX_M_DocumentType			BIGINT,
	@TransferID					VARCHAR(50),
	@TransferDate				DATETIME,	
	@SourceAccount				BIGINT,
	@DestinationAccount			BIGINT,
	@TotalTransferAmount		DECIMAL(22,2),	
	@RemarkHeader				VARCHAR(500),
	@TransferStatus				CHAR(1),	
	--------------------------------------------------------------	
	@UserID						VARCHAR(10),
	@RecordStatus				CHAR(1)	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	BEGIN TRY
		
		BEGIN TRANSACTION;

		/** TableLog **/
		DECLARE @TableLog TABLE (
			Result		VARCHAR(20),	
			ID			BIGINT,			
			LogDesc		VARCHAR(500)
		)

		DECLARE @_CountLog AS INT
		/*****************************/			
		
		/** Check User Access Right **/
		/*
		DECLARE @_FormID AS VARCHAR(20)
		SET @_FormID = ''

		DECLARE @Output INT
		EXEC USP_CheckUserForm @UserID,@_FormID, @Output OUT

		IF @Output <> 1
		BEGIN
			INSERT INTO @TableLog VALUES ('error',0,'You Dont Have Access!')
		END
		*/
		/****************************************************************************/

		--DECLARE @_TransferID AS VARCHAR(20)
		--DECLARE @_LastNumber AS INTEGER
		--DECLARE @_Month AS VARCHAR(4)
		--DECLARE @_Year AS VARCHAR(2)
		--DECLARE @_DocumentTypeID AS CHAR(3)
		
		--SET @_LastNumber = 0

		--SELECT @_DocumentTypeID = DocumentTypeID FROM GN_M_DocumentType WHERE IDX_M_DocumentType = @IDX_M_DocumentType

		--IF EXISTS(	SELECT TOP 1 TransferID
		--			FROM CM_T_InternalTransferHeader 
		--			WHERE MONTH(TransferDate) = MONTH(GETDATE())
		--				AND YEAR(TransferDate) = YEAR(GETDATE())
		--				AND LEFT(TransferID,3) = @_DocumentTypeID
		--			ORDER BY TransferID DESC)
		--BEGIN
		--	SELECT TOP 1 @_LastNumber = CONVERT(INT,RIGHT(RTRIM(TransferID),4))
		--	FROM CM_T_InternalTransferHeader 
		--	WHERE MONTH(TransferDate) = MONTH(GETDATE())
		--		AND YEAR(TransferDate) = YEAR(GETDATE())
		--		AND LEFT(TransferID,3) = @_DocumentTypeID
		--	ORDER BY TransferID DESC
		--END			

		--SET @_Month = RIGHT('00' + CONVERT(VARCHAR(2),MONTH(GETDATE())),2)
		--SET @_Month = RIGHT(RTRIM(@_Month),2)

		--SET @_Year = RIGHT(CONVERT(VARCHAR,YEAR(GETDATE())),2)

		--/** Set Contract No by System **/
		--SET @_TransferID = @_DocumentTypeID + '-' 
		--	+ @_Month
		--	+ @_Year + '-' 
		--	+ RIGHT('00000' + CONVERT(VARCHAR,@_LastNumber + 1),4)

		IF @SourceAccount = @DestinationAccount
		BEGIN
			INSERT INTO @TableLog VALUES ('error',0,'Source account = destination account!')
		END

		/** If no error occured **/		
		SELECT @_CountLog = COUNT(*) FROM @TableLog

		IF @_CountLog = 0
		BEGIN		
						
			/**----------------------------------------------------------------------------- 
											Insert Financial Transfer Header 
			--------------------------------------------------------------------------------**/
			INSERT INTO [dbo].[CM_T_InternalTransferHeader]
				   ([IDX_M_Company]
				   ,[IDX_M_Branch]				  
				   ,[IDX_M_DocumentType]
				   ,[TransferID]
				   ,[TransferDate]
				   ,[SourceAccount]
				   ,[DestinationAccount]	
				   ,[TotalTransferAmount]				  
				   ,[RemarkHeader]
				   ,[TransferStatus]				   			  
				   ,[UCreate]
				   ,[DCreate]				  
				   ,[RecordStatus])
			 VALUES
				   (@IDX_M_Company
				   ,@IDX_M_Branch				  
				   ,@IDX_M_DocumentType
				   ,0
				   ,@TransferDate
				   ,@SourceAccount
				   ,@DestinationAccount
				   ,@TotalTransferAmount
				   ,@RemarkHeader
				   ,@TransferStatus					  			   
				   ,@UserID
				   ,GETDATE()				  
				   ,@RecordStatus)			
			
			DECLARE @IDX_T_InternalTransferHeader AS BIGINT
			SET @IDX_T_InternalTransferHeader = (SELECT SCOPE_IDENTITY())

			/** Update Draft Receive ID **/
			UPDATE [dbo].[CM_T_InternalTransferHeader]
			SET TransferID = 'DRAFT-' + RTRIM(CONVERT(VARCHAR,@IDX_T_InternalTransferHeader))
			WHERE IDX_T_InternalTransferHeader = @IDX_T_InternalTransferHeader

			/**********************************************************************************************************/
			INSERT INTO @TableLog VALUES ('success', @IDX_T_InternalTransferHeader, 'Data Sudah Disimpan')
			
		END

		COMMIT TRANSACTION;	

		SELECT * FROM @TableLog

	END TRY

	BEGIN CATCH       

		INSERT INTO @TableLog VALUES ('error', 0, CONVERT(VARCHAR, ERROR_NUMBER() + ' '  + ERROR_MESSAGE()))
				
		SELECT * FROM @TableLog
			
		-- Test XACT_STATE for 1 or -1.
		-- XACT_STATE = 0 means there is no transaction and
		-- a commit or rollback operation would generate an error.

		-- Test whether the transaction is uncommittable.
		IF (XACT_STATE()) = -1
		BEGIN
			PRINT N'The transaction is in an uncommittable state. ' +	'Rolling back transaction.'
			ROLLBACK TRANSACTION;
		END;

		-- Test whether the transaction is active and valid.
		IF (XACT_STATE()) = 1
		BEGIN
			PRINT N'The transaction is committable. ' + 'Committing transaction.'
			COMMIT TRANSACTION;   
		END;

	END CATCH;	


END




GO
