USE [AVKDB]
GO
/****** Object:  StoredProcedure [dbo].[USP_CM_InternalTransfer_List]    Script Date: 6/13/2026 2:42:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
Author			: Samuel Febrianto
Create date		: 30 September 2018
Description		: Internal Transfer List

/*	
	EXEC USP_CM_InternalTransfer_List 1,10,'RowNumber','ASC','R',1,1,'','',''
	EXEC USP_CM_InternalTransfer_List 1,10,'RowNumber','ASC','C',1,1,'','',''
*/
-- ============================================= */

CREATE PROCEDURE [dbo].[USP_CM_InternalTransfer_List]
	@Page					INT,	
	@Row					INT,
	@SortBy					VARCHAR(50),
	@SortDir				VARCHAR(50),
	@ReturnType				CHAR(1), --R = Record, C = Count	
	@IDX_M_Company			BIGINT,
	@IDX_M_Branch			INT,
	@TransferID				VARCHAR(50),
	@RemarkHeader			VARCHAR(128),	
	@TransferDate			VARCHAR(20)	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	DECLARE @FromRow				AS INT
	DECLARE @ToRow					AS INT
	-------------------------------------------------------------
	DECLARE @_TransferID			AS VARCHAR(50)
	DECLARE @_RemarkHeader			AS VARCHAR(50)	
	DECLARE @_TransferDate			AS VARCHAR(50)
	
	-------------------------------------------------------------
	DECLARE @_Sort1					AS VARCHAR(100)
	DECLARE @_Sort2					AS VARCHAR(100)
	-------------------------------------------------------------
	DECLARE @SqlSelect				AS VARCHAR(5000)
	DECLARE @SqlFrom				AS VARCHAR(5000)
	DECLARE @SqlWhere				AS VARCHAR(5000)
	DECLARE @SqlLimit				AS VARCHAR(5000)
	DECLARE @SqlOrder				AS VARCHAR(5000)

	SET @_TransferID = '%' + RTRIM(@TransferID) + '%'	
	SET @_RemarkHeader = '%' + RTRIM(@RemarkHeader) + '%'	
	SET @_TransferDate = '%' + RTRIM(@TransferDate) + '%'	
	
	
	SET @_Sort1 = @SortBy + ' ' + @SortDir
	SET @_Sort2 = @SortBy + ' ' + @SortDir

	IF RTRIM(@SortBy) = 'RowNumber' OR RTRIM(@SortBy) = 'ID'
	BEGIN
		SET @_Sort1 = ' IDX_T_InternalTransferHeader ' + @SortDir
		SET @_Sort2 = ' IDX_T_InternalTransferHeader ' + @SortDir
	END			

	-- SET Paging and Row Number
	IF @Page = 1
	BEGIN
		SET @FromRow = 1
		SET @ToRow = @Row
	END

	IF @Page > 1
	BEGIN
		SET @FromRow = ((@Page * @Row) - @Row) + 1
		SET @ToRow = @FromRow + @Row - 1		
	END


	SET @SqlSelect = '	SELECT * FROM (
							SELECT 
								ROW_NUMBER() OVER (ORDER BY ' + @_Sort1 + ') AS RowNumber, 
								ITH.IDX_M_Company, ITH.IDX_M_Branch, MC.Name AS CompanyName, MB.BranchName, ITH.IDX_T_InternalTransferHeader, 
								ITH.TransferID, CONVERT(VARCHAR,ITH.TransferDate,106) AS TransferDate, 
								FAS.FinancialAccountID AS SourceAccountDesc, FAD.FinancialAccountID AS DestAccountDesc, 
								ISNULL(MDT.DocumentTypeDesc,'''') AS DocumentTypeDesc, 
								MU.Name AS UserCreate, ITH.TotalTransferAmount, ITH.RemarkHeader, TransferStatus, 
								StatusDesc = CASE TransferStatus WHEN ''D'' THEN ''Draft'' WHEN ''A'' THEN ''Approved'' WHEN ''V'' THEN ''Validate'' 
								WHEN ''F'' THEN ''Confirm'' ELSE ''Unknown'' END ' 							
	
	SET @SqlFrom = 'FROM CM_T_InternalTransferHeader ITH
					LEFT JOIN GN_M_Company MC ON ITH.IDX_M_Company = MC.IDX_M_Company
					LEFT JOIN GN_M_Branch MB ON ITH.IDX_M_Branch = MB.IDX_M_Branch					
					LEFT JOIN SM_M_User MU ON RTRIM(ITH.UCreate) = RTRIM(MU.LoginID)
					LEFT JOIN GN_M_DocumentType MDT ON ITH.IDX_M_DocumentType = MDT.IDX_M_DocumentType
					LEFT JOIN CM_M_FinancialAccount FAS ON FAS.IDX_M_FinancialAccount = ITH.SourceAccount
					LEFT JOIN CM_M_FinancialAccount FAD ON FAD.IDX_M_FinancialAccount = ITH.DestinationAccount '

	SET @SqlWhere = 'WHERE ITH.IDX_M_Branch = ' + CONVERT(VARCHAR,@IDX_M_Branch) + ' AND ISNULL(TransferID,'''')  LIKE ''' + @_TransferID + 
						''' AND RTRIM(RemarkHeader) LIKE ''' + @_RemarkHeader +
						''' AND CONVERT(VARCHAR,ISNULL(ITH.TransferDate,''''),106) LIKE ''' + @_TransferDate +	''''

	SET @SqlLimit = ') AS DerivedTable WHERE RowNumber BETWEEN ' + CONVERT(VARCHAR,@FromRow) + ' AND ' + CONVERT(VARCHAR,@ToRow) 

	SET @SqlOrder = ' ORDER BY ' + @_Sort2

	-- ==================================================
	-- Output
	-- ==================================================

    IF @ReturnType = 'R'
	BEGIN
		--PRINT(@SqlSelect + @SqlFrom + @SqlWhere + @SqlLimit + @SqlOrder)
		EXEC(@SqlSelect + @SqlFrom + @SqlWhere + @SqlLimit)
	END
	
	IF @ReturnType = 'C'
	BEGIN
		--PRINT ('SELECT COUNT(*) AS TotalRows ' + @SqlFrom + @SqlWhere)
		EXEC ('SELECT COUNT(*) AS TotalRows ' + @SqlFrom + @SqlWhere)		
	END

END









GO
