USE [AVKDB]
GO
/****** Object:  StoredProcedure [dbo].[USP_GL_JournalType_Info]    Script Date: 6/13/2026 2:42:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Anton
-- Create date: 2018-11-19
-- Description:	Get Detail Information for Journal Type based on ID
-- =============================================

-- EXEC USP_GL_JournalType_Info 1

CREATE PROCEDURE [dbo].[USP_GL_JournalType_Info]
	-- Add the parameters for the stored procedure here
	@IDX_M_JournalType BIGINT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT JT.IDX_M_JournalType, JT.JournalTypeID, JT.JournalTypeDesc, JT.AllowJournalEntry, JT.JournalLabel, JT.UCreate, JT.DCreate, JT.UModified, JT.DModified, MU.Name AS UserName
		,JT.UCreate AS CreateByID
		,JT.DCreate AS CreateByDate
		,MU.Name AS CreateByName

		,JT.UModified AS ModifiedByID
		,JT.DModified AS ModifiedByDate
		,MUM.Name AS ModifiedByName
		,JT.RecordStatus
	FROM GL_M_JournalType JT
	LEFT JOIN SM_M_User MU ON MU.LoginID = JT.UCreate
	LEFT JOIN SM_M_User MUM ON MUM.LoginID = JT.UModified
	WHERE IDX_M_JournalType = @IDX_M_JournalType
	
END





GO
