USE [AVKDB]
GO
/****** Object:  StoredProcedure [dbo].[USP_GL_Journal_Duplicate]    Script Date: 6/13/2026 2:42:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author		: Samuel Febrianto
-- Create date	: 08 Jan 2024
-- Description	: Journal duplicate (header and detail)
-- ==========================================================================================

CREATE PROCEDURE [dbo].[USP_GL_Journal_Duplicate]
	@IDX_T_JournalHeader		BIGINT,	
	@UserID						VARCHAR(50)	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	-- Insert statements for procedure here
	BEGIN TRY

		BEGIN TRANSACTION;
			
			DECLARE @_CountDetail AS INT
			DECLARE @_CountLog AS INT
			DECLARE @_Discount AS DECIMAL(22,2)
			DECLARE @_Commission AS DECIMAL(22,2)

			/** TableLog **/
			DECLARE @TableLog TABLE (
				Result		VARCHAR(20),	
				ID			BIGINT,			
				LogDesc		VARCHAR(500)
			)

			/** Check User Access Right **/
			--DECLARE @_FormID		VARCHAR(20)
			--DECLARE @_RoleID		CHAR(1)
			--DECLARE @Output			INT

			--SET @_FormID = 'GL-JOUR-006' -- Journal Posting
			--SET @_RoleID = 'R'
			
			--EXEC USP_SM_CheckUserForm @UserID, @_FormID, @_RoleID, @Output OUT

			--IF @Output <> 1
			--BEGIN
			--	INSERT INTO @TableLog VALUES ('error',0,'You Dont Have Access!')
			--END
			/****************************/

				

			-- ===========================================================================================================
			-- Check Journal Type
			-- ===========================================================================================================

			--IF (SELECT IDX_M_JournalType FROM GL_T_JournalHeader WITH(NOLOCK) WHERE IDX_T_JournalHeader = @IDX_T_JournalHeader) <> 5 -- 5 --> Journal Memorial
			--BEGIN
			--	INSERT INTO @TableLog VALUES ('error',@IDX_T_JournalHeader,'Only Journal Memorial Type can be duplicate!')
			--END

			-- ===========================================================================================================
			--Check Error Log
			-- ===========================================================================================================
			SELECT @_CountLog = COUNT(*) FROM @TableLog

			-- ===========================================================================================================
			-- If no error, then post journal
			-- ===========================================================================================================
			IF @_CountLog = 0
			BEGIN 
				
				-- =======================================================================================
				-- INSERT JOURNAL HEADER
				-- =======================================================================================
				INSERT INTO [dbo].[GL_T_JournalHeader]
					([IDX_M_Company]
					,[IDX_M_Branch]				
					,[IDX_M_JournalType]
					,[IDX_M_Partner]				
					,[ApplicationID]
					,[IDX_ReferenceNo]
					,[ReferenceNo]
					,[VoucherNo]
					,[JournalDate]				
					,[RemarkHeader]
					,[PartnerDesc]
					,[PostingStatus]
					,[PostingDate]
					,[PostedBy]
					,[DebetAmount]
					,[CreditAmount]
					,[JournalSource]
					,[UCreate]
					,[DCreate]			  
					,[RecordStatus])
				SELECT 
					 [IDX_M_Company]
					,[IDX_M_Branch]				
					,[IDX_M_JournalType]
					,[IDX_M_Partner]				
					,[ApplicationID]
					,0
					,[ReferenceNo]
					,''
					,GETDATE()			
					,[RemarkHeader]
					,[PartnerDesc]
					,'U'
					,NULL
					,NULL
					,[DebetAmount]
					,[CreditAmount]
					,[JournalSource]
					,@UserID
					,SYSDATETIME()			  
					,[RecordStatus] 
				FROM GL_T_JournalHeader
				WHERE IDX_T_JournalHeader = @IDX_T_JournalHeader
			
				DECLARE @_IDX_T_JournalHeader AS BIGINT
				SET @_IDX_T_JournalHeader = (SELECT SCOPE_IDENTITY())	
			
				-- UPDATE DRAFT VOUCHER NO
				UPDATE [dbo].[GL_T_JournalHeader]
				SET VoucherNo = 'DRAFT-' + RTRIM(CONVERT(VARCHAR,@_IDX_T_JournalHeader))
				WHERE IDX_T_JournalHeader = @_IDX_T_JournalHeader	
				
				DECLARE @_VoucherNo VARCHAR(10) = (SELECT VoucherNo FROM GL_T_JournalHeader WHERE IDX_T_JournalHeader = @_IDX_T_JournalHeader)

				-- =======================================================================================
				-- INSERT JOURNAL DETAIL
				-- =======================================================================================
				INSERT INTO [dbo].[GL_T_JournalDetail]
				   ([IDX_T_JournalHeader]
				   ,[IDX_M_Project]
				   ,[IDX_M_Department]
				   ,[IDX_M_COA]
				   ,[IDX_M_Partner]
				   ,[JournalSeqNo]
				   ,[COADescription]
				   ,[RemarkDetail]
				   ,[OriginalCurrencyID]
				   ,[ODebetAmount]
				   ,[OCreditAmount]
				   ,[ExchangeRate]
				   ,[BaseCurrencyID]
				   ,[BDebetAmount]
				   ,[BCreditAmount]
				   ,[UCreate]
				   ,[DCreate]			   
				   ,[RecordStatus])
				SELECT 
					@_IDX_T_JournalHeader
				   ,[IDX_M_Project]
				   ,[IDX_M_Department]
				   ,[IDX_M_COA]
				   ,[IDX_M_Partner]
				   ,[JournalSeqNo]
				   ,[COADescription]
				   ,[RemarkDetail]
				   ,[OriginalCurrencyID]
				   ,[ODebetAmount]
				   ,[OCreditAmount]
				   ,[ExchangeRate]
				   ,[BaseCurrencyID]
				   ,[BDebetAmount]
				   ,[BCreditAmount]
				   ,@UserID
				   ,SYSDATETIME()			   
				   ,[RecordStatus] 
				FROM GL_T_JournalDetail
				WHERE IDX_T_JournalHeader = @IDX_T_JournalHeader

				-- =======================================================================================
				-- OUTPUT
				-- =======================================================================================

				INSERT INTO @TableLog VALUES ('success', @_IDX_T_JournalHeader, 'Data Berhasil Duplikat ke ' + @_VoucherNo)
					
			END			

		COMMIT TRANSACTION;

		SELECT * FROM @TableLog		

	END TRY

	BEGIN CATCH		

		INSERT INTO @TableLog VALUES ('error', @IDX_T_JournalHeader, CONVERT(VARCHAR, ERROR_NUMBER() + ' '  + ERROR_MESSAGE()))
				
		SELECT * FROM @TableLog

		--SELECT 	ERROR_NUMBER() AS ErrorNumber, ERROR_MESSAGE() AS ErrorMessage;
			
		-- Test XACT_STATE for 1 or -1.
		-- XACT_STATE = 0 means there is no transaction and
		-- a commit or rollback operation would generate an error.

		-- Test whether the transaction is uncommittable.
		IF (XACT_STATE()) = -1
		BEGIN
			PRINT N'The transaction is in an uncommittable state. ' +	'Rolling back transaction.'
			ROLLBACK TRANSACTION;
		END;

		-- Test whether the transaction is active and valid.
		IF (XACT_STATE()) = 1
		BEGIN
			PRINT N'The transaction is committable. ' + 'Committing transaction.'
			COMMIT TRANSACTION;   
		END;

	END CATCH;
END





GO
