USE [AVKDB]
GO
/****** Object:  Table [dbo].[GL_M_Tax]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GL_M_Tax](
	[IDX_M_Tax] [bigint] IDENTITY(1,1) NOT NULL,
	[TaxID] [varchar](64) NULL,
	[TaxName] [varchar](256) NULL,
	[TaxRate] [decimal](5, 2) NULL,
	[BaseAmount] [decimal](5, 2) NULL,
	[Flag] [varchar](8) NULL,
	[Notes] [varchar](8000) NULL,
	[COAIn] [bigint] NULL,
	[COAOut] [bigint] NULL,
	[IsWithHoldingTax] [bit] NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_FM_M_Tax] PRIMARY KEY CLUSTERED 
(
	[IDX_M_Tax] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GL_M_Tax] ADD  CONSTRAINT [DF_GL_M_Tax_BaseAmount]  DEFAULT ((100)) FOR [BaseAmount]
GO
ALTER TABLE [dbo].[GL_M_Tax] ADD  CONSTRAINT [DF_GL_M_Tax_COAIn_1]  DEFAULT ((0)) FOR [COAIn]
GO
ALTER TABLE [dbo].[GL_M_Tax] ADD  CONSTRAINT [DF_GL_M_Tax_COAOut_1]  DEFAULT ((0)) FOR [COAOut]
GO
ALTER TABLE [dbo].[GL_M_Tax] ADD  CONSTRAINT [DF_GL_M_Tax_IsWithHoldingTax_1]  DEFAULT ((0)) FOR [IsWithHoldingTax]
GO
ALTER TABLE [dbo].[GL_M_Tax] ADD  CONSTRAINT [DF_FM_M_Tax_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GL_M_Tax] ADD  CONSTRAINT [DF_FM_M_Tax_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GL_M_Tax] ADD  CONSTRAINT [DF_FM_M_Tax_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
