USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_Company]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_Company](
	[IDX_M_Company] [int] IDENTITY(1,1) NOT NULL,
	[IDX_M_Parent] [int] NULL,
	[IDX_M_Currency] [int] NULL,
	[CompanyID] [varchar](32) NULL,
	[CompanyName] [varchar](128) NULL,
	[CompanyAlias] [varchar](32) NULL,
	[SIUP] [varchar](64) NULL,
	[NPWP] [varchar](64) NULL,
	[PKPIdentityNumber] [varchar](64) NULL,
	[PKPDate] [date] NULL,
	[Phone] [varchar](32) NULL,
	[WhatsappNo] [varchar](50) NULL,
	[Fax] [varchar](32) NULL,
	[Email] [varchar](256) NULL,
	[LegalAddress] [varchar](256) NULL,
	[Country] [varchar](64) NULL,
	[Province] [varchar](64) NULL,
	[City] [varchar](64) NULL,
	[Subdistrict] [varchar](64) NULL,
	[District] [varchar](64) NULL,
	[Zip] [varchar](16) NULL,
	[BankAccountNumber] [varchar](25) NULL,
	[BankName] [varchar](100) NULL,
	[Logo] [varchar](256) NULL,
	[Website] [varchar](256) NULL,
	[Remarks] [varchar](256) NULL,
	[RetainedEarningAccount] [int] NULL,
	[CurrentEarningAccount] [int] NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_M_Company] PRIMARY KEY CLUSTERED 
(
	[IDX_M_Company] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_Company] ADD  CONSTRAINT [DF_M_Company_IDX_M_Parent]  DEFAULT ((0)) FOR [IDX_M_Parent]
GO
ALTER TABLE [dbo].[GN_M_Company] ADD  CONSTRAINT [DF_GN_M_Company_RetainedEarningAccount]  DEFAULT ((0)) FOR [RetainedEarningAccount]
GO
ALTER TABLE [dbo].[GN_M_Company] ADD  CONSTRAINT [DF_GN_M_Company_CurrentEarningAccount]  DEFAULT ((0)) FOR [CurrentEarningAccount]
GO
ALTER TABLE [dbo].[GN_M_Company] ADD  CONSTRAINT [DF_M_Company_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GN_M_Company] ADD  CONSTRAINT [DF_M_Company_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GN_M_Company] ADD  CONSTRAINT [DF_GN_M_Company_Recordstatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kelurahan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_Company', @level2type=N'COLUMN',@level2name=N'Subdistrict'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kecamatan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_Company', @level2type=N'COLUMN',@level2name=N'District'
GO
