USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_Membership]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_Membership](
	[IDX_M_Membership] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Partner] [bigint] NOT NULL,
	[IDX_M_MemberType] [bigint] NULL,
	[MembershipCode] [varchar](32) NULL,
	[JoinDate] [date] NULL,
	[ExpiredDate] [date] NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_M_Membership] PRIMARY KEY CLUSTERED 
(
	[IDX_M_Membership] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_Membership] ADD  CONSTRAINT [DF_GN_M_Membership_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GN_M_Membership] ADD  CONSTRAINT [DF_GN_M_Membership_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GN_M_Membership] ADD  CONSTRAINT [DF_GN_M_Membership_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
