USE [AVKDB]
GO
/****** Object:  Table [dbo].[GL_M_COAGroup2]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GL_M_COAGroup2](
	[IDX_M_COAGroup2] [int] IDENTITY(1,1) NOT NULL,
	[IDX_M_COAGroup1] [int] NOT NULL,
	[COAGroup2ID] [varchar](50) NULL,
	[COAGroup2Name1] [varchar](150) NULL,
	[COAGroup2Name2] [varchar](150) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GL_M_COAGroup2] PRIMARY KEY CLUSTERED 
(
	[IDX_M_COAGroup2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GL_M_COAGroup2] ADD  CONSTRAINT [DF_GL_M_COAGroup2_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GL_M_COAGroup2] ADD  CONSTRAINT [DF_GL_M_COAGroup2_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GL_M_COAGroup2] ADD  CONSTRAINT [DF_GL_M_COAGroup2_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
