USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_T_PaymentAllocation]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_T_PaymentAllocation](
	[IDX_T_PaymentAllocation] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_FinancialPaymentDetail] [bigint] NOT NULL,
	[IDX_M_Partner] [bigint] NULL,
	[IDX_M_DocumentType] [int] NULL,
	[IDX_DocumentNo] [bigint] NULL,
	[AllocationID] [varchar](50) NULL,
	[COAAllocation] [bigint] NULL,
	[DocumentNo] [varchar](50) NULL,
	[AllocationDate] [datetime] NULL,
	[AllocationAmount] [decimal](22, 2) NULL,
	[RemarkAllocation] [varchar](500) NULL,
	[AllocationStatus] [char](1) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_CM_T_PaymentAllocation] PRIMARY KEY CLUSTERED 
(
	[IDX_T_PaymentAllocation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_T_PaymentAllocation] ADD  CONSTRAINT [DF_CM_T_PaymentAllocation_AllocationStatus]  DEFAULT ('D') FOR [AllocationStatus]
GO
ALTER TABLE [dbo].[CM_T_PaymentAllocation] ADD  CONSTRAINT [DF_CM_T_PaymentAllocation_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[CM_T_PaymentAllocation] ADD  CONSTRAINT [DF_CM_T_PaymentAllocation_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[CM_T_PaymentAllocation] ADD  CONSTRAINT [DF_CM_T_PaymentAllocation_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Index document type dari document yang akan di-alokasikan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_PaymentAllocation', @level2type=N'COLUMN',@level2name=N'IDX_M_DocumentType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Index dokumen sesuai dengan document type. Bisa ke table Sales Invoice atau Sales Order' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_PaymentAllocation', @level2type=N'COLUMN',@level2name=N'IDX_DocumentNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'COA dari dokumen yang di alokasikan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_PaymentAllocation', @level2type=N'COLUMN',@level2name=N'COAAllocation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'D = Draft, A = Approved' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_PaymentAllocation', @level2type=N'COLUMN',@level2name=N'AllocationStatus'
GO
