USE [AVKDB]
GO
/****** Object:  Table [dbo].[MC_T_SalesOrderUpload]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MC_T_SalesOrderUpload](
	[IDX_T_SalesOrderUpload] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_SalesOrder] [bigint] NOT NULL,
	[UploadCategory] [varchar](50) NULL,
	[FilePath] [varchar](5000) NULL,
	[FileName] [varchar](250) NULL,
	[FileDescription] [varchar](500) NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](50) NULL,
	[DModifed] [datetime] NULL,
	[UModified] [varchar](50) NULL,
	[RecordStatus] [char](1) NULL,
 CONSTRAINT [PK_MC_T_SalesOrderUpload] PRIMARY KEY CLUSTERED 
(
	[IDX_T_SalesOrderUpload] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MC_T_SalesOrderUpload] ADD  CONSTRAINT [DF_MC_T_SalesOrderUpload_UploadCategory]  DEFAULT ('') FOR [UploadCategory]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Transaksi, KTP, Lainnya' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MC_T_SalesOrderUpload', @level2type=N'COLUMN',@level2name=N'UploadCategory'
GO
