USE [AVKDB]
GO
/****** Object:  Table [dbo].[MC_T_PurchaseOrderTax]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MC_T_PurchaseOrderTax](
	[IDX_T_PurchaseOrderTax] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_PurchaseOrder] [bigint] NOT NULL,
	[IDX_T_PurchaseOrderDetail] [bigint] NULL,
	[IDX_M_Tax] [bigint] NULL,
	[TaxID] [varchar](50) NULL,
	[TaxDesc] [varchar](50) NULL,
	[TaxRate] [decimal](5, 2) NULL,
	[TaxAmount] [decimal](20, 3) NULL,
	[TaxCOA] [bigint] NULL,
	[AllowEdit] [char](1) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_MC_T_PurchaseOrderTax] PRIMARY KEY CLUSTERED 
(
	[IDX_T_PurchaseOrderTax] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
