USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_T_InternalTransferHeader]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_T_InternalTransferHeader](
	[IDX_T_InternalTransferHeader] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Company] [bigint] NULL,
	[IDX_M_Branch] [bigint] NULL,
	[IDX_M_DocumentType] [bigint] NULL,
	[TransferID] [varchar](50) NULL,
	[TransferDate] [datetime] NULL,
	[SourceAccount] [int] NULL,
	[DestinationAccount] [int] NULL,
	[TotalTransferAmount] [decimal](22, 2) NULL,
	[RemarkHeader] [varchar](8000) NULL,
	[TransferStatus] [char](1) NULL,
	[ApprovalDate] [datetime] NULL,
	[ApprovalRemark] [varchar](8000) NULL,
	[ApprovalBy] [varchar](50) NULL,
	[ValidationDate] [datetime] NULL,
	[ValidationRemark] [varchar](8000) NULL,
	[ValidationBy] [varchar](50) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_CM_T_InternalTransferHeader] PRIMARY KEY CLUSTERED 
(
	[IDX_T_InternalTransferHeader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_T_InternalTransferHeader] ADD  CONSTRAINT [DF_CM_T_InternalTransferHeader_TransferStatus]  DEFAULT ('D') FOR [TransferStatus]
GO
ALTER TABLE [dbo].[CM_T_InternalTransferHeader] ADD  CONSTRAINT [DF_CM_T_InternalTransferHeader_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[CM_T_InternalTransferHeader] ADD  CONSTRAINT [DF_CM_T_InternalTransferHeader_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[CM_T_InternalTransferHeader] ADD  CONSTRAINT [DF_CM_T_InternalTransferHeader_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
