USE [AVKDB]
GO
/****** Object:  Table [dbo].[MC_T_OpenCloseDaily]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MC_T_OpenCloseDaily](
	[IDX_T_OpenCloseDaily] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Company] [int] NOT NULL,
	[IDX_M_Branch] [int] NOT NULL,
	[TransactionDate] [date] NULL,
	[TransactionStatus] [char](1) NULL,
	[TellerID] [varchar](50) NULL,
	[HeaderNotes] [varchar](500) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_MC_T_OpenCloseDaily] PRIMARY KEY CLUSTERED 
(
	[IDX_T_OpenCloseDaily] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MC_T_OpenCloseDaily] ADD  CONSTRAINT [DEFAULT_MC_T_OpenCloseDaily_IDX_M_Company]  DEFAULT ((1)) FOR [IDX_M_Company]
GO
ALTER TABLE [dbo].[MC_T_OpenCloseDaily] ADD  CONSTRAINT [DEFAULT_MC_T_OpenCloseDaily_IDX_M_Branch]  DEFAULT ((1)) FOR [IDX_M_Branch]
GO
ALTER TABLE [dbo].[MC_T_OpenCloseDaily] ADD  CONSTRAINT [DF_MC_T_OpenCloseDaily_TransactionStatus]  DEFAULT ('O') FOR [TransactionStatus]
GO
ALTER TABLE [dbo].[MC_T_OpenCloseDaily] ADD  CONSTRAINT [DF_MC_T_OpenCloseDaily_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[MC_T_OpenCloseDaily] ADD  CONSTRAINT [DF_MC_T_OpenCloseDaily_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[MC_T_OpenCloseDaily] ADD  CONSTRAINT [DF_MC_T_OpenCloseDaily_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'O = Open, C = Close, P = Pending' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MC_T_OpenCloseDaily', @level2type=N'COLUMN',@level2name=N'TransactionStatus'
GO
