USE [AVKDB]
GO
/****** Object:  Table [dbo].[GL_T_ReconcileDetail]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GL_T_ReconcileDetail](
	[IDX_GL_T_ReconcileDetail] [bigint] NOT NULL,
	[IDX_GL_T_ReconcileHeader] [bigint] NOT NULL,
	[ReconcileDate] [datetime] NULL,
	[IDX_JournalItem] [bigint] NULL,
	[IDX_GL_M_COA] [bigint] NULL,
	[DebetAmount] [decimal](22, 2) NULL,
	[CreditAmount] [decimal](22, 2) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GL_T_ReconcileDetail] PRIMARY KEY CLUSTERED 
(
	[IDX_GL_T_ReconcileDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GL_T_ReconcileDetail] ADD  CONSTRAINT [DF_GL_T_ReconcileDetail_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GL_T_ReconcileDetail] ADD  CONSTRAINT [DF_GL_T_ReconcileDetail_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GL_T_ReconcileDetail] ADD  CONSTRAINT [DF_GL_T_ReconcileDetail_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
