USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_PostalCode]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_PostalCode](
	[IDX_M_PostalCode] [bigint] NOT NULL,
	[IDX_M_Country] [bigint] NULL,
	[Province] [varchar](150) NULL,
	[Info] [varchar](150) NULL,
	[City] [varchar](150) NULL,
	[Subdistrict] [varchar](150) NULL,
	[District] [varchar](150) NULL,
	[Zip] [varchar](150) NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[Recordstatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_M_PostalCode] PRIMARY KEY CLUSTERED 
(
	[IDX_M_PostalCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
