USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_Project]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_Project](
	[IDX_M_Project] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Company] [bigint] NULL,
	[IDX_M_Branch] [bigint] NULL,
	[ProjectID] [varchar](50) NULL,
	[ProjectName] [varchar](150) NULL,
	[ProjectAddress] [varchar](500) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[ProjectDesc] [varchar](500) NULL,
	[FlagSystem] [varchar](5) NULL,
	[IsProfitSharing] [bit] NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_M_Project] PRIMARY KEY CLUSTERED 
(
	[IDX_M_Project] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_Project] ADD  CONSTRAINT [DF_GN_M_Project_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GN_M_Project] ADD  CONSTRAINT [DF_GN_M_Project_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GN_M_Project] ADD  CONSTRAINT [DF_GN_M_Project_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'EZ = Ezitama
IH = Inhouse' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_Project', @level2type=N'COLUMN',@level2name=N'FlagSystem'
GO
