USE [AVKDB]
GO
/****** Object:  Table [dbo].[SM_T_RolePosition]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SM_T_RolePosition](
	[IDX_T_RolePosition] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_User] [bigint] NOT NULL,
	[IDX_M_Position] [bigint] NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[Recordstatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_T_Roles] PRIMARY KEY CLUSTERED 
(
	[IDX_T_RolePosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SM_T_RolePosition] ADD  CONSTRAINT [DF_T_Roles_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[SM_T_RolePosition] ADD  CONSTRAINT [DF_T_Roles_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[SM_T_RolePosition] ADD  CONSTRAINT [DF_GN_T_Roles_Recordstatus]  DEFAULT ('A') FOR [Recordstatus]
GO
