USE [AVKDB]
GO
/****** Object:  Table [dbo].[SM_T_Session]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SM_T_Session](
	[SessionID] [uniqueidentifier] NOT NULL,
	[IDX_M_User] [bigint] NOT NULL,
	[LoginID] [varchar](32) NOT NULL,
	[LoginName] [varchar](64) NOT NULL,
	[LoginDate] [datetime] NOT NULL,
	[ExpiredDate] [datetime] NOT NULL,
	[IPAddress] [varchar](16) NOT NULL,
 CONSTRAINT [PK_SM_T_SessionHeader] PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SM_T_Session] ADD  CONSTRAINT [DF_SM_T_Session_SessionID]  DEFAULT (newid()) FOR [SessionID]
GO
