USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_T_PurchaseRefundHeader]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_T_PurchaseRefundHeader](
	[IDX_T_PurchaseRefundHeader] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_PurchaseInvoiceHeader] [bigint] NOT NULL,
	[IDX_M_Company] [bigint] NULL,
	[IDX_M_Branch] [bigint] NOT NULL,
	[IDX_M_Currency] [int] NULL,
	[IDX_M_LocationInventory] [bigint] NOT NULL,
	[IDX_M_Partner] [bigint] NULL,
	[IDX_M_DocumentType] [bigint] NOT NULL,
	[IDX_ReferenceNo] [bigint] NULL,
	[ReferenceNo] [varchar](50) NULL,
	[InvoiceNo] [varchar](50) NULL,
	[InvoiceDate] [datetime] NULL,
	[InvoiceDueDate] [datetime] NULL,
	[SupplierDeliveryNo] [varchar](50) NULL,
	[RemarkHeader] [varchar](8000) NULL,
	[InvoiceStatus] [char](1) NULL,
	[ApprovedDate] [datetime] NULL,
	[ApproveBy] [varchar](36) NULL,
	[ApproveRemark] [varchar](8000) NULL,
	[VoidDate] [datetime] NULL,
	[VoidBy] [varchar](36) NULL,
	[VoidReason] [varchar](8000) NULL,
	[IsCreateJournal] [char](1) NULL,
	[COAHeader] [bigint] NULL,
	[VendorInvoiceNo] [varchar](50) NULL,
	[FakturPajak] [varchar](50) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_CM_T_PurchaseRefundHeader] PRIMARY KEY CLUSTERED 
(
	[IDX_T_PurchaseRefundHeader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_T_PurchaseRefundHeader] ADD  CONSTRAINT [DF_CM_T_PurchaseRefundHeader_IsCreateJournal]  DEFAULT ('Y') FOR [IsCreateJournal]
GO
ALTER TABLE [dbo].[CM_T_PurchaseRefundHeader] ADD  CONSTRAINT [DF_CM_T_PurchaseRefundHeader_COAHeader]  DEFAULT ((0)) FOR [COAHeader]
GO
ALTER TABLE [dbo].[CM_T_PurchaseRefundHeader] ADD  CONSTRAINT [DF_CM_T_PurchaseRefundHeader_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[CM_T_PurchaseRefundHeader] ADD  CONSTRAINT [DF_CM_T_PurchaseRefundHeader_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[CM_T_PurchaseRefundHeader] ADD  CONSTRAINT [DF_CM_T_PurchaseRefundHeader_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'No invoice  by system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_PurchaseRefundHeader', @level2type=N'COLUMN',@level2name=N'InvoiceNo'
GO
