USE [AVKDB]
GO
/****** Object:  Table [dbo].[MC_T_NotaScanDetail]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MC_T_NotaScanDetail](
	[IDX_T_MC_NotaScanDetail] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_MC_NotaScan] [bigint] NOT NULL,
	[Nomor] [int] NULL,
	[KeteranganValas] [varchar](200) NULL,
	[NilaiValas] [decimal](18, 2) NULL,
	[NilaiTukar] [decimal](18, 4) NULL,
	[TotalNilai] [decimal](18, 2) NULL,
	[CatatanDetail] [varchar](500) NULL,
	[RecordStatus] [char](1) NOT NULL,
	[UCreate] [varchar](50) NULL,
	[DCreate] [datetime] NULL,
 CONSTRAINT [PK_MC_T_NotaScanDetail] PRIMARY KEY CLUSTERED 
(
	[IDX_T_MC_NotaScanDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MC_T_NotaScanDetail] ADD  DEFAULT ((0)) FOR [NilaiValas]
GO
ALTER TABLE [dbo].[MC_T_NotaScanDetail] ADD  DEFAULT ((0)) FOR [NilaiTukar]
GO
ALTER TABLE [dbo].[MC_T_NotaScanDetail] ADD  DEFAULT ((0)) FOR [TotalNilai]
GO
ALTER TABLE [dbo].[MC_T_NotaScanDetail] ADD  DEFAULT ('A') FOR [RecordStatus]
GO
ALTER TABLE [dbo].[MC_T_NotaScanDetail]  WITH CHECK ADD  CONSTRAINT [FK_MC_T_NotaScanDetail_Header] FOREIGN KEY([IDX_T_MC_NotaScan])
REFERENCES [dbo].[MC_T_NotaScan] ([IDX_T_MC_NotaScan])
GO
ALTER TABLE [dbo].[MC_T_NotaScanDetail] CHECK CONSTRAINT [FK_MC_T_NotaScanDetail_Header]
GO
