USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_PartnerAddress]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_PartnerAddress](
	[IDX_M_PartnerAddress] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Partner] [bigint] NOT NULL,
	[IDX_M_AddressType] [bigint] NOT NULL,
	[IDX_M_PostalCode] [bigint] NULL,
	[IsDefault] [char](1) NULL,
	[Street] [varchar](1024) NULL,
	[Zip] [varchar](32) NULL,
	[Notes] [varchar](8000) NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_M_PartnerAddress] PRIMARY KEY CLUSTERED 
(
	[IDX_M_PartnerAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_PartnerAddress] ADD  CONSTRAINT [DF_GN_M_PartnerAddress_Street]  DEFAULT ('N') FOR [Street]
GO
ALTER TABLE [dbo].[GN_M_PartnerAddress] ADD  CONSTRAINT [DF_GN_M_PartnerAddress_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GN_M_PartnerAddress] ADD  CONSTRAINT [DF_GN_M_PartnerAddress_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GN_M_PartnerAddress] ADD  CONSTRAINT [DF_GN_M_PartnerAddress_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
