USE [AVKDB]
GO
/****** Object:  Table [dbo].[GL_M_COACategory]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GL_M_COACategory](
	[IDX_M_COACategory] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_COAType] [bigint] NULL,
	[COACategoryID] [varchar](32) NULL,
	[COACategoryDesc] [varchar](256) NULL,
	[COACategoryDesc2] [varchar](512) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GL_M_COACategory] PRIMARY KEY CLUSTERED 
(
	[IDX_M_COACategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GL_M_COACategory] ADD  CONSTRAINT [DF_GL_M_COACategory_COACategoryDesc2]  DEFAULT ('') FOR [COACategoryDesc2]
GO
ALTER TABLE [dbo].[GL_M_COACategory] ADD  CONSTRAINT [DF_GL_M_COACategory_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GL_M_COACategory] ADD  CONSTRAINT [DF_GL_M_COACategory_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GL_M_COACategory] ADD  CONSTRAINT [DF_GL_M_COACategory_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'AS = Asset, EX = Expense, LI = Liability, IC = Income, EQ = Equity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GL_M_COACategory', @level2type=N'COLUMN',@level2name=N'IDX_M_COAType'
GO
