USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_Global]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_Global](
	[IDX_M_Global] [bigint] IDENTITY(1,1) NOT NULL,
	[CodeGlobal] [varchar](256) NULL,
	[CodeGroup] [varchar](64) NULL,
	[Notes] [varchar](8000) NULL,
	[Attribute1] [varchar](8000) NULL,
	[Attribute2] [varchar](8000) NULL,
	[Attribute3] [varchar](8000) NULL,
	[Attribute4] [varchar](8000) NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[Recordstatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_M_Global] PRIMARY KEY CLUSTERED 
(
	[IDX_M_Global] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_Global] ADD  CONSTRAINT [DF_M_Global_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GN_M_Global] ADD  CONSTRAINT [DF_M_Global_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GN_M_Global] ADD  CONSTRAINT [DF_GN_M_Global_Recordstatus]  DEFAULT ('A') FOR [Recordstatus]
GO
