USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_T_TaxInvoiceHeader]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_T_TaxInvoiceHeader](
	[IDX_T_TaxInvoiceHeader] [bigint] NOT NULL,
	[IDX_M_Company] [bigint] NULL,
	[IDX_M_Branch] [bigint] NOT NULL,
	[IDX_M_BusinessPartner] [bigint] NULL,
	[IDX_M_Currency] [int] NULL,
	[IDX_M_ApplicationID] [bigint] NULL,
	[ReferenceTable] [varchar](50) NULL,
	[IDX_DocumentNo] [bigint] NULL,
	[TaxInvoiceType] [varchar](50) NULL,
	[TaxInvoiceCategory] [varchar](50) NULL,
	[TaxInvoiceModel] [varchar](50) NULL,
	[TaxInvoiceNo] [varchar](50) NULL,
	[TaxInvoiceDate] [datetime] NULL,
	[TaxInvoicePeriod] [varchar](6) NULL,
	[PartnerNPWP] [varchar](50) NULL,
	[PartnerInvoiceNo] [varchar](50) NULL,
	[TransactionType] [varchar](50) NULL,
	[TransactionCode] [varchar](50) NULL,
	[DokumenTransaksi] [varchar](50) NULL,
	[ReferenceNo] [varchar](50) NULL,
	[PPNBM] [decimal](22, 2) NULL,
	[PPNBMOriginal] [decimal](22, 2) NULL,
	[RemarkHeader] [varchar](500) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_CM_T_TaxInvoiceHeader] PRIMARY KEY CLUSTERED 
(
	[IDX_T_TaxInvoiceHeader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_T_TaxInvoiceHeader] ADD  CONSTRAINT [DF_CM_T_TaxInvoiceHeader_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[CM_T_TaxInvoiceHeader] ADD  CONSTRAINT [DF_CM_T_TaxInvoiceHeader_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[CM_T_TaxInvoiceHeader] ADD  CONSTRAINT [DF_CM_T_TaxInvoiceHeader_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nama Table Referensi Untuk Sales Order' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_TaxInvoiceHeader', @level2type=N'COLUMN',@level2name=N'ReferenceTable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Example : Penyerahan Dalam Negeri Dengan Faktur Pajak' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_TaxInvoiceHeader', @level2type=N'COLUMN',@level2name=N'TransactionType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Example : Kepada Pihak yang Bukan Pemungut PPN' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_TaxInvoiceHeader', @level2type=N'COLUMN',@level2name=N'TransactionCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Example : Faktur Pajak Standar' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_TaxInvoiceHeader', @level2type=N'COLUMN',@level2name=N'DokumenTransaksi'
GO
