USE [AVKDB]
GO
/****** Object:  Table [dbo].[MC_M_ValasChange]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MC_M_ValasChange](
	[IDX_M_ValasChange] [int] IDENTITY(1,1) NOT NULL,
	[ValasChangeID] [varchar](50) NULL,
	[ValasChangeName] [varchar](500) NULL,
	[ValasChangeNumber] [int] NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[Recordstatus] [varchar](1) NULL,
 CONSTRAINT [PK_MC_M_ValasChange] PRIMARY KEY CLUSTERED 
(
	[IDX_M_ValasChange] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MC_M_ValasChange] ADD  CONSTRAINT [DF_MC_M_ValasChange_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[MC_M_ValasChange] ADD  CONSTRAINT [DF_MC_M_ValasChange_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[MC_M_ValasChange] ADD  CONSTRAINT [DF_MC_M_ValasChange_Recordstatus]  DEFAULT ('A') FOR [Recordstatus]
GO
