USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_DocumentType]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_DocumentType](
	[IDX_M_DocumentType] [bigint] IDENTITY(1,1) NOT NULL,
	[DocumentTypeCategory] [varchar](50) NULL,
	[DocumentTypeID] [varchar](5) NULL,
	[DocumentTypeDesc] [varchar](50) NULL,
	[TableReferenceHeader] [varchar](150) NULL,
	[TableReferenceDetail] [varchar](150) NULL,
	[InFlag] [char](1) NULL,
	[OutFlag] [char](1) NULL,
	[ARAccount] [bigint] NULL,
	[APAccount] [bigint] NULL,
	[UCreate] [varchar](10) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](10) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_M_DocumentType] PRIMARY KEY CLUSTERED 
(
	[IDX_M_DocumentType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cashflow In' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_DocumentType', @level2type=N'COLUMN',@level2name=N'InFlag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cashflow Out' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_DocumentType', @level2type=N'COLUMN',@level2name=N'OutFlag'
GO
