USE [AVKDB]
GO
/****** Object:  Table [dbo].[SM_M_Group]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SM_M_Group](
	[IDX_M_Group] [bigint] IDENTITY(1,1) NOT NULL,
	[GroupID] [varchar](50) NULL,
	[GroupName] [varchar](150) NULL,
	[Notes] [varchar](500) NULL,
	[UCreate] [varchar](10) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](10) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_SM_M_Group] PRIMARY KEY CLUSTERED 
(
	[IDX_M_Group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
