USE [AVKDB]
GO
/****** Object:  Table [dbo].[SM_M_Form]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SM_M_Form](
	[IDX_M_Form] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Application] [int] NULL,
	[IDX_M_Module] [int] NULL,
	[ApplicationID] [varchar](50) NULL,
	[FormID] [varchar](50) NOT NULL,
	[FormName] [varchar](150) NULL,
	[FormURL] [varchar](150) NULL,
	[FormDescription] [varchar](500) NULL,
	[IconClass1] [varchar](50) NULL,
	[IconClass2] [varchar](50) NULL,
	[IconClass3] [varchar](50) NULL,
	[ShowInSidebar] [char](1) NULL,
	[UCreate] [varchar](10) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](10) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [char](1) NOT NULL,
 CONSTRAINT [PK_SM_M_Form] PRIMARY KEY CLUSTERED 
(
	[IDX_M_Form] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SM_M_Form] ADD  CONSTRAINT [DF_SM_M_Form_IDX_M_Application]  DEFAULT ((0)) FOR [IDX_M_Application]
GO
ALTER TABLE [dbo].[SM_M_Form] ADD  CONSTRAINT [DF_SM_M_Form_FormDescription]  DEFAULT ('') FOR [FormDescription]
GO
ALTER TABLE [dbo].[SM_M_Form] ADD  CONSTRAINT [DF_SM_M_Form_ShowInSidebar]  DEFAULT ('Y') FOR [ShowInSidebar]
GO
ALTER TABLE [dbo].[SM_M_Form] ADD  CONSTRAINT [DF_M_Form_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
