USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_PartnerContact]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_PartnerContact](
	[IDX_M_PartnerContact] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Partner] [bigint] NOT NULL,
	[ContactType] [int] NULL,
	[IsDefault] [char](1) NULL,
	[Prefix] [varchar](50) NULL,
	[ContactName] [varchar](500) NULL,
	[Phone] [varchar](64) NULL,
	[Fax] [varchar](64) NULL,
	[Mobile] [varchar](64) NULL,
	[Email] [varchar](128) NULL,
	[Remarks] [varchar](150) NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_M_PartnerContact] PRIMARY KEY CLUSTERED 
(
	[IDX_M_PartnerContact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_PartnerContact] ADD  CONSTRAINT [DF_GN_M_PartnerContact_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GN_M_PartnerContact] ADD  CONSTRAINT [DF_GN_M_PartnerContact_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GN_M_PartnerContact] ADD  CONSTRAINT [DF_GN_M_PartnerContact_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
