USE [AVKDB]
GO
/****** Object:  Table [dbo].[GL_T_JournalHeaderLog]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GL_T_JournalHeaderLog](
	[IDX_T_JournalHeaderLog] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_JournalHeader] [bigint] NOT NULL,
	[LogType] [varchar](50) NULL,
	[LogDate] [datetime] NULL,
	[LogRemark] [varchar](500) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GL_T_JournalHeaderLog] PRIMARY KEY CLUSTERED 
(
	[IDX_T_JournalHeaderLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GL_T_JournalHeaderLog] ADD  CONSTRAINT [DF_GL_T_JournalHeaderLog_LogType]  DEFAULT ('') FOR [LogType]
GO
ALTER TABLE [dbo].[GL_T_JournalHeaderLog] ADD  CONSTRAINT [DF_GL_T_JournalHeaderLog_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GL_T_JournalHeaderLog] ADD  CONSTRAINT [DF_GL_T_JournalHeaderLog_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GL_T_JournalHeaderLog] ADD  CONSTRAINT [DF_GL_T_JournalHeaderLog_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Draft, Approval, ReverseApproval, Validate, Void' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GL_T_JournalHeaderLog', @level2type=N'COLUMN',@level2name=N'LogType'
GO
