USE [AVKDB]
GO
/****** Object:  Table [dbo].[MC_T_OpenCloseDailyDetail]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MC_T_OpenCloseDailyDetail](
	[IDX_T_OpenCloseDailyDetail] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_OpenCloseDaily] [bigint] NOT NULL,
	[IDX_M_Valas] [int] NULL,
	[OpenQty] [decimal](18, 2) NULL,
	[InQty] [decimal](18, 2) NULL,
	[OutQty] [decimal](18, 2) NULL,
	[CloseQty] [decimal](18, 2) NULL,
	[DiffQty] [decimal](18, 2) NULL,
	[DetailNotes] [varchar](5000) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_MC_T_OpenCloseDailyDetail] PRIMARY KEY CLUSTERED 
(
	[IDX_T_OpenCloseDailyDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MC_T_OpenCloseDailyDetail] ADD  CONSTRAINT [DF_MC_T_OpenCloseDailyDetail_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[MC_T_OpenCloseDailyDetail] ADD  CONSTRAINT [DF_MC_T_OpenCloseDailyDetail_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[MC_T_OpenCloseDailyDetail] ADD  CONSTRAINT [DF_MC_T_OpenCloseDailyDetail_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
