USE [AVKDB]
GO
/****** Object:  Table [dbo].[GL_M_JournalType]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GL_M_JournalType](
	[IDX_M_JournalType] [bigint] IDENTITY(1,1) NOT NULL,
	[JournalTypeID] [varchar](32) NULL,
	[JournalTypeDesc] [varchar](64) NULL,
	[AllowJournalEntry] [char](1) NULL,
	[JournalLabel] [varchar](32) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GL_M_JournalType] PRIMARY KEY CLUSTERED 
(
	[IDX_M_JournalType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GL_M_JournalType] ADD  CONSTRAINT [DF_GL_M_JournalType_AllowJournalEntry]  DEFAULT ('N') FOR [AllowJournalEntry]
GO
ALTER TABLE [dbo].[GL_M_JournalType] ADD  CONSTRAINT [DF_GL_M_JournalType_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GL_M_JournalType] ADD  CONSTRAINT [DF_GL_M_JournalType_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GL_M_JournalType] ADD  CONSTRAINT [DF_GL_M_JournalType_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Y = Journal type can be edit via journal entry, N = can not be edit via journal entry' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GL_M_JournalType', @level2type=N'COLUMN',@level2name=N'AllowJournalEntry'
GO
