USE [AVKDB]
GO
/****** Object:  Table [dbo].[MC_T_POSValasDetail]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MC_T_POSValasDetail](
	[IDX_T_POSValasDetail] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_POSValas] [bigint] NOT NULL,
	[IDX_M_Valas] [int] NULL,
	[IDX_M_TransactionType] [int] NULL,
	[CustomerCurrency] [int] NULL,
	[CustomerAmount] [decimal](18, 4) NULL,
	[ExchangeRate] [decimal](18, 4) NULL,
	[BaseCurrency] [int] NULL,
	[BaseCurrencyAmount] [decimal](18, 4) NULL,
	[DetailNotes] [varchar](5000) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_MC_T_POSValasDetail] PRIMARY KEY CLUSTERED 
(
	[IDX_T_POSValasDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MC_T_POSValasDetail] ADD  CONSTRAINT [DF_MC_T_POSValasDetail_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[MC_T_POSValasDetail] ADD  CONSTRAINT [DF_MC_T_POSValasDetail_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[MC_T_POSValasDetail] ADD  CONSTRAINT [DF_MC_T_POSValasDetail_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
