USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_PartnerAccountHistory]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_PartnerAccountHistory](
	[IDX_M_PartnerAccountHistory] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Partner] [bigint] NOT NULL,
	[BankName] [varchar](256) NOT NULL,
	[BranchName] [varchar](256) NULL,
	[BranchCode] [varchar](64) NULL,
	[AccountNumber] [varchar](32) NOT NULL,
	[AccountName] [varchar](256) NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_T_PartnerAccount] PRIMARY KEY CLUSTERED 
(
	[IDX_M_PartnerAccountHistory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_PartnerAccountHistory] ADD  CONSTRAINT [DF_T_PartnerAccount_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GN_M_PartnerAccountHistory] ADD  CONSTRAINT [DF_T_PartnerAccount_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GN_M_PartnerAccountHistory] ADD  CONSTRAINT [DF_T_PartnerAccount_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
