USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_T_FakturPajak]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_T_FakturPajak](
	[IDX_T_Faktur] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_Transaction] [bigint] NULL,
	[TransactionType] [varchar](50) NULL,
	[KodeTransaksi] [varchar](50) NULL,
	[FakturPengganti] [int] NULL,
	[NomorFaktur] [varchar](50) NULL,
	[TanggalFaktur] [date] NULL,
	[MasaPajak] [varchar](50) NULL,
	[TahunPajak] [varchar](50) NULL,
	[StatusPajak] [varchar](50) NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](50) NULL,
	[RecordStatus] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_T_FakturPajak] ADD  CONSTRAINT [DF_CM_T_FakturPajak_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
