USE [AVKDB]
GO
/****** Object:  Table [dbo].[GL_T_AccountBalance]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GL_T_AccountBalance](
	[IDX_GL_T_AccountBalance] [bigint] IDENTITY(1,1) NOT NULL,
	[JournalPeriod] [char](6) NOT NULL,
	[IDX_M_Company] [bigint] NOT NULL,
	[IDX_M_Department] [bigint] NULL,
	[IDX_M_Project] [bigint] NULL,
	[IDX_M_Branch] [bigint] NULL,
	[IDX_M_COA] [bigint] NOT NULL,
	[COADescription] [varchar](8000) NULL,
	[CurrencyID] [char](3) NULL,
	[BBBalance] [decimal](20, 4) NULL,
	[BDebetAmount] [decimal](20, 4) NULL,
	[BCreditAmount] [decimal](20, 4) NULL,
	[BEndingBalance] [decimal](20, 4) NULL,
	[TBBalance] [decimal](20, 4) NULL,
	[TDebetAmount] [decimal](20, 4) NULL,
	[TCreditAmount] [decimal](20, 4) NULL,
	[TEndingBalance] [decimal](20, 4) NULL,
	[Notes] [varchar](8000) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GL_T_AccountBalance] PRIMARY KEY CLUSTERED 
(
	[IDX_GL_T_AccountBalance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GL_T_AccountBalance] ADD  CONSTRAINT [DF_GL_T_AccountBalance_BBBalance]  DEFAULT ((0)) FOR [BBBalance]
GO
ALTER TABLE [dbo].[GL_T_AccountBalance] ADD  CONSTRAINT [DF_GL_T_AccountBalance_BDebetAmount]  DEFAULT ((0)) FOR [BDebetAmount]
GO
ALTER TABLE [dbo].[GL_T_AccountBalance] ADD  CONSTRAINT [DF_GL_T_AccountBalance_BCreditAmount]  DEFAULT ((0)) FOR [BCreditAmount]
GO
ALTER TABLE [dbo].[GL_T_AccountBalance] ADD  CONSTRAINT [DF_GL_T_AccountBalance_BEndingBalance]  DEFAULT ((0)) FOR [BEndingBalance]
GO
ALTER TABLE [dbo].[GL_T_AccountBalance] ADD  CONSTRAINT [DF_GL_T_AccountBalance_TBBalance]  DEFAULT ((0)) FOR [TBBalance]
GO
ALTER TABLE [dbo].[GL_T_AccountBalance] ADD  CONSTRAINT [DF_GL_T_AccountBalance_TDebetAmount]  DEFAULT ((0)) FOR [TDebetAmount]
GO
ALTER TABLE [dbo].[GL_T_AccountBalance] ADD  CONSTRAINT [DF_GL_T_AccountBalance_TCreditAmount]  DEFAULT ((0)) FOR [TCreditAmount]
GO
ALTER TABLE [dbo].[GL_T_AccountBalance] ADD  CONSTRAINT [DF_GL_T_AccountBalance_TEndingBalance]  DEFAULT ((0)) FOR [TEndingBalance]
GO
ALTER TABLE [dbo].[GL_T_AccountBalance] ADD  CONSTRAINT [DF_GL_T_AccountBalance_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GL_T_AccountBalance] ADD  CONSTRAINT [DF_GL_T_AccountBalance_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GL_T_AccountBalance] ADD  CONSTRAINT [DF_GL_T_AccountBalance_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Translation begining balance' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GL_T_AccountBalance', @level2type=N'COLUMN',@level2name=N'TBBalance'
GO
