USE [AVKDB]
GO
/****** Object:  Table [dbo].[SM_M_RoleAction]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SM_M_RoleAction](
	[IDX_M_RoleAction] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](256) NULL,
	[Alias] [varchar](64) NOT NULL,
	[Notes] [varchar](8000) NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[RecordStatus] [varchar](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SM_M_RoleAction] ADD  CONSTRAINT [DF_M_RoleAction_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[SM_M_RoleAction] ADD  CONSTRAINT [DF_M_RoleAction_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[SM_M_RoleAction] ADD  CONSTRAINT [DF_M_RoleAction_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
