USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_T_PurchaseRefundDetail]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_T_PurchaseRefundDetail](
	[IDX_T_PurchaseRefundDetail] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_PurchaseRefundHeader] [bigint] NOT NULL,
	[IDX_M_Item] [bigint] NULL,
	[IDX_M_UoM] [bigint] NULL,
	[IDX_M_COA] [bigint] NULL,
	[IDX_M_Tax] [int] NULL,
	[IncludeTax] [bit] NULL,
	[ItemDesc] [varchar](256) NULL,
	[Quantity] [decimal](18, 2) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[UntaxedAmount] [decimal](20, 2) NULL,
	[DiscountAmount] [decimal](20, 2) NULL,
	[TaxAmount] [decimal](20, 2) NULL,
	[RemarkDetail] [varchar](500) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_CM_T_PurchaseRefundDetail] PRIMARY KEY CLUSTERED 
(
	[IDX_T_PurchaseRefundDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_T_PurchaseRefundDetail] ADD  CONSTRAINT [DF_CM_T_PurchaseRefundDetail_IncludeTax]  DEFAULT ((0)) FOR [IncludeTax]
GO
ALTER TABLE [dbo].[CM_T_PurchaseRefundDetail] ADD  CONSTRAINT [DF_CM_T_PurchaseRefundDetail_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[CM_T_PurchaseRefundDetail] ADD  CONSTRAINT [DF_CM_T_PurchaseRefundDetail_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[CM_T_PurchaseRefundDetail] ADD  CONSTRAINT [DF_CM_T_PurchaseRefundDetail_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
