USE [AVKDB]
GO
/****** Object:  Table [dbo].[MC_T_NotaScan]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MC_T_NotaScan](
	[IDX_T_MC_NotaScan] [bigint] IDENTITY(1,1) NOT NULL,
	[TipeTransaksi] [char](1) NOT NULL,
	[TanggalNota] [date] NULL,
	[NoNota] [varchar](100) NULL,
	[NamaKonsumen] [varchar](200) NULL,
	[NoKTP] [varchar](50) NULL,
	[NoTelp] [varchar](50) NULL,
	[SumberDana] [varchar](200) NULL,
	[TujuanTransaksi] [varchar](200) NULL,
	[Keterangan] [varchar](500) NULL,
	[FileName] [varchar](255) NULL,
	[FilePath] [varchar](1000) NULL,
	[OCRRawText] [nvarchar](max) NULL,
	[Status] [char](1) NOT NULL,
	[RecordStatus] [char](1) NOT NULL,
	[UCreate] [varchar](50) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](50) NULL,
	[DModified] [datetime] NULL,
 CONSTRAINT [PK_MC_T_NotaScan] PRIMARY KEY CLUSTERED 
(
	[IDX_T_MC_NotaScan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MC_T_NotaScan] ADD  DEFAULT ('D') FOR [Status]
GO
ALTER TABLE [dbo].[MC_T_NotaScan] ADD  DEFAULT ('A') FOR [RecordStatus]
GO
