USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_Voucher]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_Voucher](
	[IDX_M_Voucher] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](256) NULL,
	[Alias] [varchar](32) NULL,
	[Notes] [varchar](8000) NULL,
	[Source] [varchar](1) NOT NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_M_Voucher] PRIMARY KEY CLUSTERED 
(
	[IDX_M_Voucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_Voucher] ADD  CONSTRAINT [DF_Table_1_VoucherSource]  DEFAULT ('I') FOR [Source]
GO
ALTER TABLE [dbo].[GN_M_Voucher] ADD  CONSTRAINT [DF_GN_M_Voucher_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GN_M_Voucher] ADD  CONSTRAINT [DF_GN_M_Voucher_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GN_M_Voucher] ADD  CONSTRAINT [DF_GN_M_Voucher_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'I : Internal, E : External' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_Voucher', @level2type=N'COLUMN',@level2name=N'Source'
GO
