USE [AVKDB]
GO
/****** Object:  Table [dbo].[SM_M_Application]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SM_M_Application](
	[IDX_M_Application] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [varchar](50) NULL,
	[ApplicationName] [varchar](150) NULL,
	[ApplicationLabel] [varchar](150) NULL,
	[ApplicationURL] [varchar](250) NULL,
	[IconClass1] [varchar](150) NULL,
	[IconClass2] [varchar](150) NULL,
	[IconClass3] [varchar](150) NULL,
	[UCreate] [varchar](10) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](10) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [char](1) NOT NULL,
 CONSTRAINT [PK_SM_M_Application] PRIMARY KEY CLUSTERED 
(
	[IDX_M_Application] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SM_M_Application] ADD  CONSTRAINT [DF_SM_M_Application_UCreate]  DEFAULT (suser_sname()) FOR [UCreate]
GO
ALTER TABLE [dbo].[SM_M_Application] ADD  CONSTRAINT [DF_SM_M_Application_DCreate]  DEFAULT (getdate()) FOR [DCreate]
GO
ALTER TABLE [dbo].[SM_M_Application] ADD  CONSTRAINT [DF_SM_M_Application_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'URL to application homepage' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SM_M_Application', @level2type=N'COLUMN',@level2name=N'ApplicationURL'
GO
