USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_T_SalesRefundHeader]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_T_SalesRefundHeader](
	[IDX_T_SalesRefundHeader] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_SalesInvoiceHeader] [bigint] NOT NULL,
	[IDX_M_Company] [bigint] NULL,
	[IDX_M_Branch] [bigint] NOT NULL,
	[IDX_M_Currency] [int] NULL,
	[IDX_M_LocationInventory] [bigint] NOT NULL,
	[IDX_M_Partner] [bigint] NULL,
	[IDX_M_DocumentType] [bigint] NOT NULL,
	[IDX_M_SalesPerson] [bigint] NULL,
	[InvoiceReferenceNo] [varchar](32) NULL,
	[TaxInvoiceNo] [varchar](32) NULL,
	[RefundNo] [varchar](32) NULL,
	[RefundDate] [datetime] NULL,
	[RefundDueDate] [datetime] NULL,
	[ReferenceNo] [varchar](32) NULL,
	[DeliveryNo] [varchar](32) NULL,
	[RemarkHeader] [varchar](8000) NULL,
	[RefundStatus] [char](1) NULL,
	[ApprovedDate] [datetime] NULL,
	[ApproveBy] [varchar](36) NULL,
	[ApproveRemark] [varchar](8000) NULL,
	[VoidDate] [datetime] NULL,
	[VoidBy] [varchar](36) NULL,
	[VoidReason] [varchar](8000) NULL,
	[IsProforma] [char](1) NULL,
	[IsCreateJournal] [char](1) NULL,
	[COAHeader] [bigint] NULL,
	[AccrueType] [char](4) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_CM_T_SalesRefundHeader] PRIMARY KEY CLUSTERED 
(
	[IDX_T_SalesRefundHeader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_T_SalesRefundHeader] ADD  CONSTRAINT [DF_CM_T_SalesRefundHeader_AccrueType]  DEFAULT ('ACCR') FOR [AccrueType]
GO
ALTER TABLE [dbo].[CM_T_SalesRefundHeader] ADD  CONSTRAINT [DF_CM_T_SalesRefundHeader_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[CM_T_SalesRefundHeader] ADD  CONSTRAINT [DF_CM_T_SalesRefundHeader_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[CM_T_SalesRefundHeader] ADD  CONSTRAINT [DF_CM_T_SalesRefundHeader_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'No invoice  by system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_SalesRefundHeader', @level2type=N'COLUMN',@level2name=N'RefundNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nomor surat jalan dari vendor' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_SalesRefundHeader', @level2type=N'COLUMN',@level2name=N'DeliveryNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'D = Draft, A = Approved, V = Validate' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_SalesRefundHeader', @level2type=N'COLUMN',@level2name=N'RefundStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ACCR = Accrual Basis, CASH = Cash Basis' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_SalesRefundHeader', @level2type=N'COLUMN',@level2name=N'AccrueType'
GO
