USE [AVKDB]
GO
/****** Object:  Table [dbo].[SM_M_UserProject]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SM_M_UserProject](
	[IDX_M_UserProject] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_User] [bigint] NOT NULL,
	[IDX_M_Project] [bigint] NOT NULL,
	[UCreate] [varchar](10) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](10) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_SM_M_UserProject] PRIMARY KEY CLUSTERED 
(
	[IDX_M_UserProject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
