USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_Country]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_Country](
	[IDX_M_Country] [int] IDENTITY(1,1) NOT NULL,
	[CountryID] [varchar](50) NULL,
	[CountryName] [varchar](500) NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[Recordstatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_M_Country] PRIMARY KEY CLUSTERED 
(
	[IDX_M_Country] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_Country] ADD  CONSTRAINT [DF_GN_M_Country_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GN_M_Country] ADD  CONSTRAINT [DF_GN_M_Country_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GN_M_Country] ADD  CONSTRAINT [DF_GN_M_Country_Recordstatus]  DEFAULT ('A') FOR [Recordstatus]
GO
