USE [AVKDB]
GO
/****** Object:  Table [dbo].[SM_M_User]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SM_M_User](
	[IDX_M_User] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Gender] [bigint] NULL,
	[LoginID] [varchar](32) NULL,
	[Name] [varchar](256) NULL,
	[Alias] [varchar](64) NULL,
	[Password] [varchar](32) NULL,
	[Password2] [varchar](32) NULL,
	[Pin] [varchar](32) NULL,
	[Email] [varchar](256) NULL,
	[Notes] [varchar](8000) NULL,
	[LastLogin] [datetime] NULL,
	[LastLogout] [datetime] NULL,
	[LastIPAddress] [varchar](16) NULL,
	[IsLocked] [int] NULL,
	[LockDate] [datetime] NULL,
	[FailedLoginAttemps] [int] NULL,
	[VerificationCode] [varchar](16) NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_SM_M_User] PRIMARY KEY CLUSTERED 
(
	[IDX_M_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SM_M_User] ADD  CONSTRAINT [DF_SM_M_User_Password2_1]  DEFAULT ('') FOR [Password2]
GO
ALTER TABLE [dbo].[SM_M_User] ADD  CONSTRAINT [DF_SM_M_User_IsLock]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[SM_M_User] ADD  CONSTRAINT [DF_SM_M_User_FailedAttemps]  DEFAULT ((0)) FOR [FailedLoginAttemps]
GO
ALTER TABLE [dbo].[SM_M_User] ADD  CONSTRAINT [DF_M_Users_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[SM_M_User] ADD  CONSTRAINT [DF_M_Users_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[SM_M_User] ADD  CONSTRAINT [DF_M_Users_Recordstatus]  DEFAULT ('A') FOR [RecordStatus]
GO
