USE [AVKDB]
GO
/****** Object:  Table [dbo].[GL_T_JournalDetail]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GL_T_JournalDetail](
	[IDX_T_JournalDetail] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_JournalHeader] [bigint] NOT NULL,
	[IDX_M_Project] [bigint] NULL,
	[IDX_M_Department] [bigint] NULL,
	[IDX_M_COA] [bigint] NOT NULL,
	[IDX_M_Partner] [bigint] NULL,
	[IDX_M_CashflowID] [bigint] NULL,
	[JournalSeqNo] [int] NULL,
	[COADescription] [varchar](8000) NOT NULL,
	[RemarkDetail] [varchar](8000) NULL,
	[OriginalCurrencyID] [int] NULL,
	[ODebetAmount] [decimal](22, 4) NULL,
	[OCreditAmount] [decimal](22, 4) NULL,
	[ExchangeRate] [decimal](22, 4) NOT NULL,
	[BaseCurrencyID] [int] NOT NULL,
	[BDebetAmount] [decimal](22, 4) NULL,
	[BCreditAmount] [decimal](22, 4) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GL_T_JournalDetail] PRIMARY KEY CLUSTERED 
(
	[IDX_T_JournalDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GL_T_JournalDetail] ADD  CONSTRAINT [DF_GL_T_JournalDetail_IDX_GN_M_Partner]  DEFAULT ((0)) FOR [IDX_M_Partner]
GO
ALTER TABLE [dbo].[GL_T_JournalDetail] ADD  CONSTRAINT [DF_GL_T_JournalDetail_IDX_M_CashflowID]  DEFAULT ((0)) FOR [IDX_M_CashflowID]
GO
ALTER TABLE [dbo].[GL_T_JournalDetail] ADD  CONSTRAINT [DF_GL_T_JournalDetail_COADescription]  DEFAULT ('') FOR [COADescription]
GO
ALTER TABLE [dbo].[GL_T_JournalDetail] ADD  CONSTRAINT [DF_GL_T_JournalDetail_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GL_T_JournalDetail] ADD  CONSTRAINT [DF_GL_T_JournalDetail_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GL_T_JournalDetail] ADD  CONSTRAINT [DF_GL_T_JournalDetail_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
