USE [AVKDB]
GO
/****** Object:  Table [dbo].[MC_T_KursBI]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MC_T_KursBI](
	[IDX_T_KursBI] [bigint] IDENTITY(1,1) NOT NULL,
	[TanggalKurs] [date] NOT NULL,
	[CurrencyID] [varchar](10) NOT NULL,
	[Nilai] [decimal](18, 4) NULL,
	[KursBeli] [decimal](18, 4) NULL,
	[KursJual] [decimal](18, 4) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_MC_T_KursBI] PRIMARY KEY CLUSTERED 
(
	[IDX_T_KursBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_MC_T_KursBI_TanggalCurrency] UNIQUE NONCLUSTERED 
(
	[TanggalKurs] ASC,
	[CurrencyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MC_T_KursBI] ADD  CONSTRAINT [DF_MC_T_KursBI_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[MC_T_KursBI] ADD  CONSTRAINT [DF_MC_T_KursBI_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[MC_T_KursBI] ADD  CONSTRAINT [DF_MC_T_KursBI_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
