USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_T_PettyCashDetail]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_T_PettyCashDetail](
	[IDX_T_PettyCashDetail] [bigint] NOT NULL,
	[IDX_T_PettyCashHeader] [bigint] NOT NULL,
	[IDX_M_DocumentType] [int] NULL,
	[IDX_M_Partner] [int] NULL,
	[IDX_Reference] [bigint] NULL,
	[ReferenceNo] [varchar](50) NULL,
	[TransactionDate] [date] NULL,
	[PartnerName] [varchar](250) NULL,
	[DetailDesc] [varchar](50) NULL,
	[PettyCashAmount] [decimal](20, 2) NULL,
	[UCreate] [varchar](10) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](10) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_CM_T_PettyCashDetail] PRIMARY KEY CLUSTERED 
(
	[IDX_T_PettyCashDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'No referensi sebagai dasar pembayaran. Contoh : no purchase invoice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_PettyCashDetail', @level2type=N'COLUMN',@level2name=N'ReferenceNo'
GO
