USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_M_FakturNumber]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_M_FakturNumber](
	[IDX_M_FakturNumber] [bigint] IDENTITY(1,1) NOT NULL,
	[PeriodFaktur] [varchar](6) NOT NULL,
	[StatusFaktur] [varchar](8) NOT NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](50) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](50) NULL,
	[RecordStatus] [varchar](50) NULL,
 CONSTRAINT [PK_CM_M_FakturNumber] PRIMARY KEY CLUSTERED 
(
	[IDX_M_FakturNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_M_FakturNumber] ADD  CONSTRAINT [DF_CM_M_FakturNumber_StatusFaktur]  DEFAULT ('Close') FOR [StatusFaktur]
GO
