USE [AVKDB]
GO
/****** Object:  Table [dbo].[GL_T_JournalCashflow]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GL_T_JournalCashflow](
	[IDX_T_JournalCashflow] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_JournalDetail] [bigint] NULL,
	[IDX_M_CashflowID] [bigint] NULL,
	[Amount] [decimal](22, 4) NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](10) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](10) NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GL_T_JournalCashflow] PRIMARY KEY CLUSTERED 
(
	[IDX_T_JournalCashflow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GL_T_JournalCashflow] ADD  CONSTRAINT [DF_GL_T_JournalCashflow_IDX_M_CashflowID]  DEFAULT ((0)) FOR [IDX_M_CashflowID]
GO
