USE [AVKDB]
GO
/****** Object:  Table [dbo].[X_PostalCodeAll]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_PostalCodeAll](
	[IDX_M_PostalCode] [float] NULL,
	[IDX_M_Country] [float] NULL,
	[Province] [nvarchar](255) NULL,
	[Info] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[Subdistrict] [nvarchar](255) NULL,
	[District] [nvarchar](255) NULL,
	[Zip] [float] NULL,
	[DCreate] [nvarchar](255) NULL,
	[UCreate] [nvarchar](255) NULL,
	[DModified] [nvarchar](255) NULL,
	[UModified] [nvarchar](255) NULL,
	[Recordstatus] [nvarchar](255) NULL
) ON [PRIMARY]

GO
