USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_CurrencyRate]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_CurrencyRate](
	[IDX_M_CurrencyRate] [int] IDENTITY(1,1) NOT NULL,
	[IDX_M_Currency] [int] NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[SellingRate] [decimal](18, 2) NULL,
	[BuyingRate] [decimal](18, 2) NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[Recordstatus] [varchar](1) NULL,
 CONSTRAINT [PK_M_CurrencyRate] PRIMARY KEY CLUSTERED 
(
	[IDX_M_CurrencyRate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_CurrencyRate] ADD  CONSTRAINT [DF_M_CurrencyRate_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GN_M_CurrencyRate] ADD  CONSTRAINT [DF_M_CurrencyRate_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GN_M_CurrencyRate] ADD  CONSTRAINT [DF_M_CurrencyRate_Recordstatus]  DEFAULT ('A') FOR [Recordstatus]
GO
