USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_M_FakturNumberLine]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_M_FakturNumberLine](
	[IDX_M_FakturNumberLine] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_FakturNumber] [bigint] NOT NULL,
	[FakturNumber] [varchar](32) NOT NULL,
	[isUsed] [bit] NULL,
	[IDX_T_Transaction] [bigint] NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](50) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](50) NULL,
	[RecordStatus] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_M_FakturNumberLine] ADD  CONSTRAINT [DF_CM_M_FakturNumberLine_isUsed]  DEFAULT ((0)) FOR [isUsed]
GO
ALTER TABLE [dbo].[CM_M_FakturNumberLine] ADD  CONSTRAINT [DF_CM_M_FakturNumberLine_IDX_T_Transaction]  DEFAULT ((0)) FOR [IDX_T_Transaction]
GO
