USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_M_FinancialAccount]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_M_FinancialAccount](
	[IDX_M_FinancialAccount] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Company] [bigint] NULL,
	[IDX_M_Branch] [bigint] NULL,
	[IDX_M_Bank] [bigint] NULL,
	[IDX_M_Currency] [int] NULL,
	[IDX_M_COA] [bigint] NULL,
	[FinancialAccountID] [varchar](50) NULL,
	[FinancialAccountDesc] [varchar](50) NULL,
	[FinancialAccountType] [char](1) NULL,
	[AccountName] [varchar](50) NULL,
	[AccountNo] [varchar](50) NULL,
	[isUsedByPOS] [bit] NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_M_FinancialAccount] PRIMARY KEY CLUSTERED 
(
	[IDX_M_FinancialAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_M_FinancialAccount] ADD  CONSTRAINT [DF_M_FinancialAccount_FinancialAccountType]  DEFAULT ('B') FOR [FinancialAccountType]
GO
ALTER TABLE [dbo].[CM_M_FinancialAccount] ADD  CONSTRAINT [DF_CM_M_FinancialAccount_isUsedByPOS]  DEFAULT ((0)) FOR [isUsedByPOS]
GO
ALTER TABLE [dbo].[CM_M_FinancialAccount] ADD  CONSTRAINT [DF_CM_M_FinancialAccount_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[CM_M_FinancialAccount] ADD  CONSTRAINT [DF_CM_M_FinancialAccount_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[CM_M_FinancialAccount] ADD  CONSTRAINT [DF_CM_M_FinancialAccount_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'B = Bank, C = Cash, D = Deposito' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_M_FinancialAccount', @level2type=N'COLUMN',@level2name=N'FinancialAccountType'
GO
