USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_T_PettyCashHeader]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_T_PettyCashHeader](
	[IDX_T_PettyCashHeader] [bigint] NOT NULL,
	[IDX_M_Company] [bigint] NULL,
	[IDX_M_Branch] [bigint] NOT NULL,
	[OpeningDate] [datetime] NULL,
	[TransactionType] [char](3) NULL,
	[TransactionID] [varchar](50) NULL,
	[TransactionDesc] [varchar](450) NULL,
	[CashierID] [int] NULL,
	[PettyCashStatus] [char](1) NULL,
	[ClosingDate] [datetime] NULL,
	[ClosingBy] [varchar](50) NULL,
	[ClosingNotes] [varchar](500) NULL,
	[UCreate] [varchar](10) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](10) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_CM_T_PettyCashHeader] PRIMARY KEY CLUSTERED 
(
	[IDX_T_PettyCashHeader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'O = Open, C = Closed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_PettyCashHeader', @level2type=N'COLUMN',@level2name=N'PettyCashStatus'
GO
