USE [AVKDB]
GO
/****** Object:  Table [dbo].[GL_M_COA]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GL_M_COA](
	[IDX_M_COA] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_COACategory] [bigint] NULL,
	[IDX_M_COAType] [bigint] NULL,
	[IDX_M_CashflowIn] [bigint] NULL,
	[IDX_M_CashflowOut] [bigint] NULL,
	[COAFlag] [char](1) NULL,
	[COAID] [varchar](32) NULL,
	[COADesc] [varchar](512) NULL,
	[COADesc2] [varchar](512) NULL,
	[ParentID] [bigint] NULL,
	[DefaultBalance] [char](1) NULL,
	[AllowJournalEntry] [char](1) NULL,
	[IsReconcile] [char](1) NULL,
	[COAStatus] [char](1) NULL,
	[COAGroup1] [varchar](50) NULL,
	[COAGroup2] [varchar](50) NULL,
	[COAGroup3] [varchar](50) NULL,
	[TranslationRate] [varchar](1) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GL_M_COA] PRIMARY KEY CLUSTERED 
(
	[IDX_M_COA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GL_M_COA] ADD  CONSTRAINT [DF_GL_M_COA_IsHeading]  DEFAULT ('A') FOR [COAFlag]
GO
ALTER TABLE [dbo].[GL_M_COA] ADD  CONSTRAINT [DF_GL_M_COA_AllowJournalEntry]  DEFAULT ('') FOR [AllowJournalEntry]
GO
ALTER TABLE [dbo].[GL_M_COA] ADD  CONSTRAINT [DF_GL_M_COA_IsReconcile]  DEFAULT ('N') FOR [IsReconcile]
GO
ALTER TABLE [dbo].[GL_M_COA] ADD  CONSTRAINT [DF_GL_M_COA_COAStatus]  DEFAULT ('A') FOR [COAStatus]
GO
ALTER TABLE [dbo].[GL_M_COA] ADD  CONSTRAINT [DF_GL_M_COA_COAGroup1]  DEFAULT ('') FOR [COAGroup1]
GO
ALTER TABLE [dbo].[GL_M_COA] ADD  CONSTRAINT [DF_GL_M_COA_COAGroup2]  DEFAULT ('') FOR [COAGroup2]
GO
ALTER TABLE [dbo].[GL_M_COA] ADD  CONSTRAINT [DF_GL_M_COA_COAGroup3]  DEFAULT ('') FOR [COAGroup3]
GO
ALTER TABLE [dbo].[GL_M_COA] ADD  CONSTRAINT [DF_GL_M_COA_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GL_M_COA] ADD  CONSTRAINT [DF_GL_M_COA_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GL_M_COA] ADD  CONSTRAINT [DF_GL_M_COA_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'AS = Asset, EX = Expense, LI = Liability, IC = Income, EQ = Equity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GL_M_COA', @level2type=N'COLUMN',@level2name=N'IDX_M_COAType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'''A'' = Account, ''H'' = Header' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GL_M_COA', @level2type=N'COLUMN',@level2name=N'COAFlag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'D = Debet, C = Credit' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GL_M_COA', @level2type=N'COLUMN',@level2name=N'DefaultBalance'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'''Y'' = Account can be use in journal entry. ''N'' = Cant be use in journal entry' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GL_M_COA', @level2type=N'COLUMN',@level2name=N'AllowJournalEntry'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Y = Account must be reconciled, N = Non reconcile account' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GL_M_COA', @level2type=N'COLUMN',@level2name=N'IsReconcile'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A = Active, I = Inactive' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GL_M_COA', @level2type=N'COLUMN',@level2name=N'COAStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Untuk informasi coa tersebut menggunakan standar transalasi D (kurs sesuai tanggal journal) atau E (kurs akhir bulan)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GL_M_COA', @level2type=N'COLUMN',@level2name=N'TranslationRate'
GO
