USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_TransactionType]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_TransactionType](
	[IDX_M_TransactionType] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](256) NULL,
	[Alias] [varchar](64) NULL,
	[Notes] [varchar](8000) NULL,
	[FormID] [varchar](32) NULL,
	[ReferenceTable] [varchar](1024) NULL,
	[DefaultLocation] [bigint] NULL,
	[JournalTypeID] [varchar](32) NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_M_TransactionType] PRIMARY KEY CLUSTERED 
(
	[IDX_M_TransactionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_TransactionType] ADD  CONSTRAINT [DF_GN_M_TransactionType_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GN_M_TransactionType] ADD  CONSTRAINT [DF_GN_M_TransactionType_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GN_M_TransactionType] ADD  CONSTRAINT [DF_GN_M_TransactionType_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
