USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_Bank]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_Bank](
	[IDX_M_Bank] [bigint] IDENTITY(1,1) NOT NULL,
	[BankCode] [varchar](32) NULL,
	[BankName] [varchar](64) NULL,
	[BankAlias] [varchar](32) NULL,
	[Notes] [varchar](8000) NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[Recordstatus] [varchar](1) NULL,
 CONSTRAINT [PK_M_Bank] PRIMARY KEY CLUSTERED 
(
	[IDX_M_Bank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_Bank] ADD  CONSTRAINT [DF_M_Bank_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GN_M_Bank] ADD  CONSTRAINT [DF_M_Bank_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GN_M_Bank] ADD  CONSTRAINT [DF_M_Bank_Recordstatus]  DEFAULT ('A') FOR [Recordstatus]
GO
