USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_M_CashflowID]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_M_CashflowID](
	[IDX_M_CashflowID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_ParentCashflowID] [bigint] NOT NULL,
	[CategoryType] [char](1) NOT NULL,
	[CashflowID] [varchar](10) NOT NULL,
	[CashflowDesc] [varchar](200) NULL,
	[InFlag] [bit] NULL,
	[OutFlag] [bit] NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](50) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](50) NULL,
	[RecordStatus] [char](1) NULL,
 CONSTRAINT [PK_CM_M_CashflowID] PRIMARY KEY CLUSTERED 
(
	[IDX_M_CashflowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_M_CashflowID] ADD  CONSTRAINT [DF_CM_M_CashflowID_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[CM_M_CashflowID] ADD  CONSTRAINT [DF_CM_M_CashflowID_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[CM_M_CashflowID] ADD  CONSTRAINT [DF_CM_M_CashflowID_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'H = Header, A = Account' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_M_CashflowID', @level2type=N'COLUMN',@level2name=N'CategoryType'
GO
