USE [AVKDB]
GO
/****** Object:  Table [dbo].[SM_M_Module]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SM_M_Module](
	[IDX_M_Module] [int] NOT NULL,
	[IDX_M_Application] [int] NULL,
	[ModuleID] [varchar](50) NULL,
	[ModuleName] [varchar](250) NULL,
	[IconClass1] [varchar](150) NULL,
	[UCreate] [varchar](10) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](10) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [char](1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SM_M_Module] ADD  CONSTRAINT [DF_SM_M_Module_UCreate]  DEFAULT (suser_sname()) FOR [UCreate]
GO
ALTER TABLE [dbo].[SM_M_Module] ADD  CONSTRAINT [DF_SM_M_Module_DCreate]  DEFAULT (getdate()) FOR [DCreate]
GO
ALTER TABLE [dbo].[SM_M_Module] ADD  CONSTRAINT [DF_SM_M_Module_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
