USE [AVKDB]
GO
/****** Object:  Table [dbo].[SM_T_CustomerResetPassword]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SM_T_CustomerResetPassword](
	[IDX_T_CustomerResetPassword] [bigint] IDENTITY(1,1) NOT NULL,
	[EmailAddress] [varchar](50) NULL,
	[ResetPasswordKey] [varchar](150) NULL,
	[ExpiredDate] [datetime] NULL,
	[IsExpired] [bit] NULL,
	[IsReset] [bit] NULL,
	[ResetDate] [datetime] NULL,
	[UCreate] [varchar](50) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](50) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_SM_T_CustomerResetPassword] PRIMARY KEY CLUSTERED 
(
	[IDX_T_CustomerResetPassword] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SM_T_CustomerResetPassword] ADD  CONSTRAINT [DF_SM_T_CustomerResetPassword_IsExpired]  DEFAULT ((0)) FOR [IsExpired]
GO
ALTER TABLE [dbo].[SM_T_CustomerResetPassword] ADD  CONSTRAINT [DF_SM_T_CustomerResetPassword_IsReset]  DEFAULT ((0)) FOR [IsReset]
GO
ALTER TABLE [dbo].[SM_T_CustomerResetPassword] ADD  CONSTRAINT [DF_SM_T_CustomerResetPassword_UCreate]  DEFAULT (suser_sname()) FOR [UCreate]
GO
ALTER TABLE [dbo].[SM_T_CustomerResetPassword] ADD  CONSTRAINT [DF_SM_T_CustomerResetPassword_DCreate]  DEFAULT (getdate()) FOR [DCreate]
GO
ALTER TABLE [dbo].[SM_T_CustomerResetPassword] ADD  CONSTRAINT [DF_SM_T_CustomerResetPassword_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
