USE [AVKDB]
GO
/****** Object:  Table [dbo].[GL_T_JournalHeader]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GL_T_JournalHeader](
	[IDX_T_JournalHeader] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Company] [bigint] NOT NULL,
	[IDX_M_Branch] [bigint] NOT NULL,
	[IDX_M_JournalType] [int] NULL,
	[IDX_M_Partner] [bigint] NULL,
	[ApplicationID] [bigint] NULL,
	[IDX_ReferenceNo] [bigint] NULL,
	[ReferenceNo] [varchar](32) NULL,
	[VoucherNo] [varchar](32) NULL,
	[VoucherNoManual] [varchar](50) NULL,
	[JournalDate] [datetime] NULL,
	[JournalPeriod]  AS (case [PostingStatus] when 'U' then left(CONVERT([varchar],[JournalDate],(112)),(6)) else left(CONVERT([varchar],[PostingDate],(112)),(6)) end),
	[RemarkHeader] [varchar](8000) NULL,
	[PartnerDesc] [varchar](256) NULL,
	[PostingStatus] [char](1) NULL,
	[PostingDate] [datetime] NULL,
	[PostedBy] [varchar](36) NULL,
	[PostingNotes] [varchar](150) NULL,
	[DebetAmount] [decimal](22, 4) NULL,
	[CreditAmount] [decimal](22, 4) NULL,
	[JournalSource] [char](1) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GL_T_JournalHeader] PRIMARY KEY CLUSTERED 
(
	[IDX_T_JournalHeader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GL_T_JournalHeader] ADD  CONSTRAINT [DF_GL_T_JournalHeader_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GL_T_JournalHeader] ADD  CONSTRAINT [DF_GL_T_JournalHeader_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GL_T_JournalHeader] ADD  CONSTRAINT [DF_GL_T_JournalHeader_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'S = System Generated Journal, M = Manual Entry Journal' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GL_T_JournalHeader', @level2type=N'COLUMN',@level2name=N'JournalSource'
GO
