USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_T_SalesRefundDetail]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_T_SalesRefundDetail](
	[IDX_T_SalesRefundDetail] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_SalesInvoiceDetail] [bigint] NULL,
	[IDX_T_SalesRefundHeader] [bigint] NOT NULL,
	[IDX_M_Item] [bigint] NULL,
	[IDX_M_UoM] [bigint] NULL,
	[IDX_M_COA] [bigint] NULL,
	[IncludeTax] [bit] NULL,
	[ItemDesc] [varchar](512) NULL,
	[Quantity] [decimal](18, 2) NULL,
	[UnitPrice] [decimal](18, 3) NULL,
	[UntaxedAmount] [decimal](20, 3) NULL,
	[DiscountAmount] [decimal](20, 3) NULL,
	[RefundQuantity] [decimal](18, 2) NULL,
	[RefundPrice] [decimal](18, 3) NULL,
	[RefundDesc] [varchar](8000) NULL,
	[IDX_M_Tax] [int] NULL,
	[TaxAmount] [decimal](20, 3) NULL,
	[TaxRefundAmount] [decimal](20, 3) NULL,
	[RemarkDetail] [varchar](8000) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_CM_T_SalesRefundDetail] PRIMARY KEY CLUSTERED 
(
	[IDX_T_SalesRefundDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_T_SalesRefundDetail] ADD  CONSTRAINT [DF_CM_T_SalesRefundDetail_IncludeTax]  DEFAULT ((0)) FOR [IncludeTax]
GO
ALTER TABLE [dbo].[CM_T_SalesRefundDetail] ADD  CONSTRAINT [DF_CM_T_SalesRefundDetail_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[CM_T_SalesRefundDetail] ADD  CONSTRAINT [DF_CM_T_SalesRefundDetail_RefundQuantity]  DEFAULT ((0)) FOR [RefundQuantity]
GO
ALTER TABLE [dbo].[CM_T_SalesRefundDetail] ADD  CONSTRAINT [DF_CM_T_SalesRefundDetail_RefundPrice]  DEFAULT ((0)) FOR [RefundPrice]
GO
ALTER TABLE [dbo].[CM_T_SalesRefundDetail] ADD  CONSTRAINT [DF_CM_T_SalesRefundDetail_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[CM_T_SalesRefundDetail] ADD  CONSTRAINT [DF_CM_T_SalesRefundDetail_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[CM_T_SalesRefundDetail] ADD  CONSTRAINT [DF_CM_T_SalesRefundDetail_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
