USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_Partner]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_Partner](
	[IDX_M_Partner] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Parent] [bigint] NULL,
	[Prefix] [varchar](8) NULL,
	[PartnerID] [varchar](32) NOT NULL,
	[BarcodeMember] [varchar](50) NULL,
	[PartnerName] [varchar](256) NULL,
	[PartnerAlias] [varchar](256) NULL,
	[Gender] [char](1) NULL,
	[SingleIdentityNumber] [varchar](64) NULL,
	[TaxIdentityNumber] [varchar](64) NULL,
	[DateOfBirth] [date] NULL,
	[PlaceOfBirth] [varchar](64) NULL,
	[Email] [varchar](128) NULL,
	[Phone1] [varchar](128) NULL,
	[Phone2] [varchar](128) NULL,
	[FaxNo] [varchar](128) NULL,
	[MobilePhone] [varchar](128) NULL,
	[Remarks] [varchar](1000) NULL,
	[IsSupplier] [char](1) NULL,
	[IsCustomer] [char](1) NULL,
	[IsCompany] [char](1) NULL,
	[IsMember] [char](1) NULL,
	[IsDTTOT] [char](1) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[StartPeriod] [date] NULL,
	[EndPeriod] [date] NULL,
	[ARAccount] [bigint] NULL,
	[APAccount] [bigint] NULL,
	[ActiveStatus] [char](1) NULL,
	[CreditLimit] [decimal](22, 2) NULL,
	[DiscountMember] [decimal](5, 2) NULL,
	[BankName] [varchar](256) NULL,
	[BranchName] [varchar](256) NULL,
	[BranchCode] [varchar](64) NULL,
	[AccountNumber] [varchar](32) NULL,
	[AccountName] [varchar](256) NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_M_Partner_1] PRIMARY KEY CLUSTERED 
(
	[IDX_M_Partner] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_Partner] ADD  CONSTRAINT [DF_GN_M_Partner_BarcodeMember]  DEFAULT ('') FOR [BarcodeMember]
GO
ALTER TABLE [dbo].[GN_M_Partner] ADD  CONSTRAINT [DF_GN_M_Partner_IsSupplier_1]  DEFAULT ((0)) FOR [IsSupplier]
GO
ALTER TABLE [dbo].[GN_M_Partner] ADD  CONSTRAINT [DF_GN_M_Partner_IsCustomer_1]  DEFAULT ((0)) FOR [IsCustomer]
GO
ALTER TABLE [dbo].[GN_M_Partner] ADD  CONSTRAINT [DF_GN_M_Partner_IsCompany_1]  DEFAULT ((0)) FOR [IsCompany]
GO
ALTER TABLE [dbo].[GN_M_Partner] ADD  CONSTRAINT [DF_GN_M_Partner_IsDTTOT]  DEFAULT ('N') FOR [IsDTTOT]
GO
ALTER TABLE [dbo].[GN_M_Partner] ADD  CONSTRAINT [DF_GN_M_Partner_CreditLimit_1]  DEFAULT ((0)) FOR [CreditLimit]
GO
ALTER TABLE [dbo].[GN_M_Partner] ADD  CONSTRAINT [DF_GN_M_Partner_DiscountMember]  DEFAULT ((0)) FOR [DiscountMember]
GO
ALTER TABLE [dbo].[GN_M_Partner] ADD  CONSTRAINT [DF_GN_M_Partner_DCreate_2]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GN_M_Partner] ADD  CONSTRAINT [DF_GN_M_Partner_UCreate_2]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GN_M_Partner] ADD  CONSTRAINT [DF_GN_M_Partner_RecordStatus_2]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'M = Male, F = Female' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_Partner', @level2type=N'COLUMN',@level2name=N'Gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Flag untuk menandakan daftar terduga teroris dan organisasi teroris' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_Partner', @level2type=N'COLUMN',@level2name=N'IsDTTOT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Default AR Account' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_Partner', @level2type=N'COLUMN',@level2name=N'ARAccount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Default AP Account' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_Partner', @level2type=N'COLUMN',@level2name=N'APAccount'
GO
