USE [AVKDB]
GO
/****** Object:  Table [dbo].[MC_T_POSValas]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MC_T_POSValas](
	[IDX_T_POSValas] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Company] [int] NULL,
	[IDX_M_Branch] [int] NULL,
	[IDX_M_Partner] [bigint] NULL,
	[TransactionDate] [date] NULL,
	[TransactionNotes] [varchar](5000) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_MC_T_POSHeader] PRIMARY KEY CLUSTERED 
(
	[IDX_T_POSValas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MC_T_POSValas] ADD  CONSTRAINT [DF_MC_T_POSHeader_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[MC_T_POSValas] ADD  CONSTRAINT [DF_MC_T_POSHeader_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[MC_T_POSValas] ADD  CONSTRAINT [DF_MC_T_POSHeader_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
