USE [AVKDB]
GO
/****** Object:  Table [dbo].[SM_M_RolePosition]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SM_M_RolePosition](
	[IDX_M_RolePosition] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Position] [bigint] NOT NULL,
	[IDX_M_Menu] [bigint] NOT NULL,
	[RoleAction] [varchar](1) NOT NULL,
	[RoleValue] [int] NOT NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_SM_M_RolePosition] PRIMARY KEY CLUSTERED 
(
	[IDX_M_RolePosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SM_M_RolePosition] ADD  CONSTRAINT [DF_SM_M_RolePosition_ActionValue]  DEFAULT ((0)) FOR [RoleValue]
GO
ALTER TABLE [dbo].[SM_M_RolePosition] ADD  CONSTRAINT [DF_SM_M_RolePosition_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[SM_M_RolePosition] ADD  CONSTRAINT [DF_SM_M_RolePosition_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[SM_M_RolePosition] ADD  CONSTRAINT [DF_SM_M_RolePosition_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
