USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_Menu]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_Menu](
	[IDX_M_Menu] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Parent] [bigint] NOT NULL,
	[FormID] [varchar](32) NULL,
	[OrderNo] [int] NULL,
	[Name] [varchar](64) NULL,
	[Alias] [varchar](64) NULL,
	[Notes] [varchar](8000) NULL,
	[Url] [varchar](8000) NULL,
	[Host] [varchar](64) NULL,
	[Logo] [varchar](64) NULL,
	[Status] [varchar](32) NULL,
	[Category] [varchar](1) NULL,
	[IsVerification] [varchar](1) NULL,
	[IsExternal] [varchar](1) NULL,
	[Domain] [varchar](64) NULL,
	[CodeGlobal] [varchar](64) NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[Recordstatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_M_Program] PRIMARY KEY CLUSTERED 
(
	[IDX_M_Menu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_Menu] ADD  CONSTRAINT [DF_M_Menu_IDX_M_ParentMenu]  DEFAULT ((0)) FOR [IDX_M_Parent]
GO
ALTER TABLE [dbo].[GN_M_Menu] ADD  CONSTRAINT [DF_GN_M_Menu_OrderNo]  DEFAULT ((1)) FOR [OrderNo]
GO
ALTER TABLE [dbo].[GN_M_Menu] ADD  CONSTRAINT [DF_GN_M_Menu_IsVerification]  DEFAULT ('F') FOR [IsVerification]
GO
ALTER TABLE [dbo].[GN_M_Menu] ADD  CONSTRAINT [DF_M_Menu_IsExternal]  DEFAULT ('F') FOR [IsExternal]
GO
ALTER TABLE [dbo].[GN_M_Menu] ADD  CONSTRAINT [DF_M_Menu_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GN_M_Menu] ADD  CONSTRAINT [DF_M_Menu_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GN_M_Menu] ADD  CONSTRAINT [DF_M_Programs_Recordstatus]  DEFAULT ('A') FOR [Recordstatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'M => Master, T => Transaction, R => Report' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_Menu', @level2type=N'COLUMN',@level2name=N'Category'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'T => True (Terdapat Verifikasi, karena aplikasi dapat diakses dari luar), F => False (Tidak terdapat verifikasi, berarti aplikasi hanya dapat diakses internal corporate saja)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_Menu', @level2type=N'COLUMN',@level2name=N'IsVerification'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'F => False (Aplikasi hanya bisa diakses Internal), T => True (Aplikasi diakses dari External, memungkin diakses secara Internal)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_Menu', @level2type=N'COLUMN',@level2name=N'IsExternal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Domain sebenarnya Field CodeGlobal pada [SettingDB].[dbo].[M_Global] dan berfungsi untuk mendapatkan DOMAIN_ACTIVE nya.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_Menu', @level2type=N'COLUMN',@level2name=N'Domain'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Domain sebenarnya Field CodeGlobal pada [SettingDB].[dbo].[M_Global].' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_Menu', @level2type=N'COLUMN',@level2name=N'CodeGlobal'
GO
