USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_T_FinancialReceiveDetail]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_T_FinancialReceiveDetail](
	[IDX_T_FinancialReceiveDetail] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_FinancialReceiveHeader] [bigint] NOT NULL,
	[IDX_M_Branch] [bigint] NULL,
	[IDX_M_Project] [bigint] NULL,
	[IDX_M_Department] [bigint] NULL,
	[IDX_M_DocumentType] [varchar](50) NULL,
	[IDX_DocumentNo] [bigint] NULL,
	[DocumentNo] [varchar](50) NULL,
	[COADetail] [bigint] NULL,
	[ReceiveAmount] [decimal](22, 2) NULL,
	[RemarkDetail] [varchar](250) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_CM_T_FinancialReceiveDetail] PRIMARY KEY CLUSTERED 
(
	[IDX_T_FinancialReceiveDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_T_FinancialReceiveDetail] ADD  CONSTRAINT [DF_CM_T_FinancialReceiveDetail_IDX_M_Branch]  DEFAULT ((0)) FOR [IDX_M_Branch]
GO
ALTER TABLE [dbo].[CM_T_FinancialReceiveDetail] ADD  CONSTRAINT [DF_CM_T_FinancialReceiveDetail_IDX_M_Project]  DEFAULT ((0)) FOR [IDX_M_Project]
GO
ALTER TABLE [dbo].[CM_T_FinancialReceiveDetail] ADD  CONSTRAINT [DF_CM_T_FinancialReceiveDetail_IDX_M_Department]  DEFAULT ((0)) FOR [IDX_M_Department]
GO
ALTER TABLE [dbo].[CM_T_FinancialReceiveDetail] ADD  CONSTRAINT [DF_CM_T_FinancialReceiveD_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[CM_T_FinancialReceiveDetail] ADD  CONSTRAINT [DF_CM_T_FinancialReceiveD_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[CM_T_FinancialReceiveDetail] ADD  CONSTRAINT [DF_CM_T_FinancialReceiveD_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SLINV = Sales Invoice, OTHER = Other Receipt, POREF = Purchase Refund' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_FinancialReceiveDetail', @level2type=N'COLUMN',@level2name=N'IDX_M_DocumentType'
GO
