USE [AVKDB]
GO
/****** Object:  Table [dbo].[GL_M_COAType]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GL_M_COAType](
	[IDX_M_COAType] [bigint] IDENTITY(1,1) NOT NULL,
	[COATypeID] [char](2) NULL,
	[COATypeDesc] [varchar](256) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GL_M_COAType] PRIMARY KEY CLUSTERED 
(
	[IDX_M_COAType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GL_M_COAType] ADD  CONSTRAINT [DF_GL_M_COAType_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GL_M_COAType] ADD  CONSTRAINT [DF_GL_M_COAType_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GL_M_COAType] ADD  CONSTRAINT [DF_GL_M_COAType_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
