USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_Branch]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_Branch](
	[IDX_M_Branch] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Parent] [int] NULL,
	[IDX_M_Company] [bigint] NULL,
	[IDX_M_LocationInventory] [bigint] NULL,
	[BranchID] [varchar](50) NULL,
	[BranchName] [varchar](250) NULL,
	[BranchAlias] [varchar](50) NULL,
	[BranchAddress] [varchar](500) NULL,
	[BranchRemark] [varchar](500) NULL,
	[COAAR] [int] NULL,
	[COASales] [int] NULL,
	[FlagSystem] [varchar](5) NULL,
	[IsProfitSharing] [bit] NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](10) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](10) NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_M_Branch] PRIMARY KEY CLUSTERED 
(
	[IDX_M_Branch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_Branch] ADD  CONSTRAINT [DF_GN_M_Branch_IDX_M_Parent]  DEFAULT ((0)) FOR [IDX_M_Parent]
GO
ALTER TABLE [dbo].[GN_M_Branch] ADD  CONSTRAINT [DF_GN_M_Branch_IDX_M_Company]  DEFAULT ((0)) FOR [IDX_M_Company]
GO
ALTER TABLE [dbo].[GN_M_Branch] ADD  CONSTRAINT [DF_GN_M_Branch_BranchAlias]  DEFAULT ('') FOR [BranchAlias]
GO
ALTER TABLE [dbo].[GN_M_Branch] ADD  CONSTRAINT [DF_GN_M_Branch_COASales1]  DEFAULT ((0)) FOR [COAAR]
GO
ALTER TABLE [dbo].[GN_M_Branch] ADD  CONSTRAINT [DF_GN_M_Branch_COASales]  DEFAULT ((0)) FOR [COASales]
GO
ALTER TABLE [dbo].[GN_M_Branch] ADD  CONSTRAINT [DF_GN_M_Branch_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GN_M_Branch] ADD  CONSTRAINT [DF_GN_M_Branch_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Default CoA untuk piutang penjualan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_Branch', @level2type=N'COLUMN',@level2name=N'COAAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Default CoA untuk penjualan (Bagi hasil atau Sewa Tempat) disesuaikan dengan jenis kerjasamanya' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_Branch', @level2type=N'COLUMN',@level2name=N'COASales'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'EZ = Ezitama
IH = Inhouse' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GN_M_Branch', @level2type=N'COLUMN',@level2name=N'FlagSystem'
GO
