USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_VoucherLine]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_VoucherLine](
	[IDX_M_VoucherLine] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Voucher] [bigint] NOT NULL,
	[Prefix] [varchar](3) NULL,
	[StartNumber] [int] NULL,
	[Digit] [int] NULL,
	[SeqNo] [int] NULL,
	[VoucherNo] [varchar](64) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[IsUsed] [int] NOT NULL,
	[TransactionReff] [int] NULL,
	[StartDate] [date] NOT NULL,
	[ExpiredDate] [date] NOT NULL,
	[IsReuseable] [int] NULL,
	[IsDisable] [int] NULL,
	[DCreate] [datetime] NULL,
	[UCreate] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_M_VoucherLine] PRIMARY KEY CLUSTERED 
(
	[IDX_M_VoucherLine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_VoucherLine] ADD  CONSTRAINT [DF_GN_M_VoucherLine_StartNumber]  DEFAULT ((1)) FOR [StartNumber]
GO
ALTER TABLE [dbo].[GN_M_VoucherLine] ADD  CONSTRAINT [DF_GN_M_VoucherLine_Digit]  DEFAULT ((4)) FOR [Digit]
GO
ALTER TABLE [dbo].[GN_M_VoucherLine] ADD  CONSTRAINT [DF_GN_M_VoucherLine_IsUsed]  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[GN_M_VoucherLine] ADD  CONSTRAINT [DF_GN_M_VoucherLine_IsReuseable]  DEFAULT ((0)) FOR [IsReuseable]
GO
ALTER TABLE [dbo].[GN_M_VoucherLine] ADD  CONSTRAINT [DF_GN_M_VoucherLine_IsDisable]  DEFAULT ((0)) FOR [IsDisable]
GO
ALTER TABLE [dbo].[GN_M_VoucherLine] ADD  CONSTRAINT [DF_GN_M_VoucherLine_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GN_M_VoucherLine] ADD  CONSTRAINT [DF_GN_M_VoucherLine_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GN_M_VoucherLine] ADD  CONSTRAINT [DF_GN_M_VoucherLine_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
