USE [AVKDB]
GO
/****** Object:  Table [dbo].[MC_T_InventoryCalculation]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MC_T_InventoryCalculation](
	[IDX_T_InventoryCalculation] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Company] [int] NULL,
	[IDX_M_Valas] [int] NULL,
	[CalculationPeriod] [varchar](6) NULL,
	[OpeningQty] [decimal](18, 2) NULL,
	[OpeningValue] [decimal](22, 4) NULL,
	[InQty] [decimal](18, 2) NULL,
	[InValue] [decimal](22, 4) NULL,
	[OutQty] [decimal](18, 2) NULL,
	[OutValue] [decimal](22, 4) NULL,
	[ClosingQty] [decimal](18, 2) NULL,
	[AverageValue] [decimal](22, 4) NULL,
	[COGSValue] [decimal](22, 4) NULL,
	[InventoryValue] [decimal](22, 4) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_MC_T_InventoryCalculation] PRIMARY KEY CLUSTERED 
(
	[IDX_T_InventoryCalculation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MC_T_InventoryCalculation] ADD  CONSTRAINT [DF_MC_T_InventoryCalculation_IDX_M_Company]  DEFAULT ((1)) FOR [IDX_M_Company]
GO
ALTER TABLE [dbo].[MC_T_InventoryCalculation] ADD  CONSTRAINT [DF_MC_T_InventoryCalculation_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[MC_T_InventoryCalculation] ADD  CONSTRAINT [DF_MC_T_InventoryCalculation_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[MC_T_InventoryCalculation] ADD  CONSTRAINT [DF_MC_T_InventoryCalculation_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
