USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_T_FinancialReceiveHeader]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_T_FinancialReceiveHeader](
	[IDX_T_FinancialReceiveHeader] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Company] [bigint] NOT NULL,
	[IDX_M_Branch] [bigint] NOT NULL,
	[IDX_M_FinancialAccount] [bigint] NOT NULL,
	[IDX_M_DocumentType] [bigint] NOT NULL,
	[IDX_M_Partner] [bigint] NULL,
	[IDX_M_Currency] [int] NULL,
	[IDX_M_PaymentType] [bigint] NOT NULL,
	[COAHeader] [bigint] NULL,
	[ReceiveID] [varchar](50) NULL,
	[ReceiveDate] [datetime] NULL,
	[RemarkHeader] [varchar](8000) NULL,
	[ReceiveStatus] [char](1) NULL,
	[TenderedAmount] [decimal](18, 2) NULL,
	[ReceiveAmount] [decimal](22, 2) NULL,
	[ApprovedBy] [varchar](20) NULL,
	[ApprovalDate] [datetime] NULL,
	[ApprovalRemark] [varchar](8000) NULL,
	[ValidateBy] [varchar](32) NULL,
	[ValidationDate] [datetime] NULL,
	[VoidBy] [varchar](20) NULL,
	[VoidDate] [datetime] NULL,
	[VoidReason] [varchar](8000) NULL,
	[CardNumber] [varchar](50) NULL,
	[CardHolderName] [varchar](50) NULL,
	[VoucherNoManual] [varchar](50) NULL,
	[PDCNo] [varchar](50) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_CM_T_FinancialReceive] PRIMARY KEY CLUSTERED 
(
	[IDX_T_FinancialReceiveHeader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_T_FinancialReceiveHeader] ADD  CONSTRAINT [DF_CM_T_FinancialReceiveHeader_COAHeader_1]  DEFAULT ((0)) FOR [COAHeader]
GO
ALTER TABLE [dbo].[CM_T_FinancialReceiveHeader] ADD  CONSTRAINT [DF_CM_T_FinancialReceive_ReceiveStatus]  DEFAULT ('D') FOR [ReceiveStatus]
GO
ALTER TABLE [dbo].[CM_T_FinancialReceiveHeader] ADD  CONSTRAINT [DF_CM_T_FinancialReceiveHeader_VoucherNoManual_1]  DEFAULT ('') FOR [VoucherNoManual]
GO
ALTER TABLE [dbo].[CM_T_FinancialReceiveHeader] ADD  CONSTRAINT [DF_CM_T_FinancialReceiveHeader_PDCNo]  DEFAULT ('') FOR [PDCNo]
GO
ALTER TABLE [dbo].[CM_T_FinancialReceiveHeader] ADD  CONSTRAINT [DF_CM_T_FinancialReceiveH_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[CM_T_FinancialReceiveHeader] ADD  CONSTRAINT [DF_CM_T_FinancialReceiveH_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[CM_T_FinancialReceiveHeader] ADD  CONSTRAINT [DF_CM_T_FinancialReceiveH_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'D = Draft, A = Approved, C = Cancelled, V = Validate' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_FinancialReceiveHeader', @level2type=N'COLUMN',@level2name=N'ReceiveStatus'
GO
