USE [AVKDB]
GO
/****** Object:  Table [dbo].[MC_M_Valas]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MC_M_Valas](
	[IDX_M_Valas] [int] IDENTITY(1,1) NOT NULL,
	[IDX_M_Currency] [int] NULL,
	[IDX_M_ValasChange] [int] NULL,
	[ValasSKU] [varchar](50) NULL,
	[ValasName] [varchar](250) NULL,
	[EffectiveDate] [date] NULL,
	[BuyValue] [decimal](18, 4) NULL,
	[SellValue] [decimal](18, 4) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_MC_M_Valas] PRIMARY KEY CLUSTERED 
(
	[IDX_M_Valas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MC_M_Valas] ADD  CONSTRAINT [DF_MC_M_Valas_ValasSKU]  DEFAULT ('') FOR [ValasSKU]
GO
ALTER TABLE [dbo].[MC_M_Valas] ADD  CONSTRAINT [DF_MC_M_Valas_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[MC_M_Valas] ADD  CONSTRAINT [DF_MC_M_Valas_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[MC_M_Valas] ADD  CONSTRAINT [DF_MC_M_Valas_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
