USE [AVKDB]
GO
/****** Object:  Table [dbo].[GN_M_SalesPerson]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GN_M_SalesPerson](
	[IDX_M_SalesPerson] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_SalesTeam] [bigint] NOT NULL,
	[IDX_M_User] [bigint] NULL,
	[SalesPersonID] [varchar](50) NULL,
	[SalesPersonName] [varchar](250) NULL,
	[Notes] [varchar](500) NULL,
	[IsActive] [bit] NULL,
	[UCreate] [varchar](10) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](10) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GN_M_SalesPerson] PRIMARY KEY CLUSTERED 
(
	[IDX_M_SalesPerson] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GN_M_SalesPerson] ADD  CONSTRAINT [DF_GN_M_SalesPerson_UCreate]  DEFAULT (suser_sname()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GN_M_SalesPerson] ADD  CONSTRAINT [DF_GN_M_SalesPerson_DCreate]  DEFAULT (getdate()) FOR [DCreate]
GO
