USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_T_PurchaseRefundTax]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_T_PurchaseRefundTax](
	[IDX_T_PurchaseRefundTax] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_PurchaseRefundHeader] [bigint] NOT NULL,
	[IDX_T_PurchaseRefundDetail] [bigint] NULL,
	[IDX_M_Tax] [bigint] NULL,
	[TaxID] [varchar](50) NULL,
	[TaxDesc] [varchar](50) NULL,
	[TaxRate] [decimal](5, 2) NULL,
	[TaxAmount] [decimal](20, 2) NULL,
	[TaxCOA] [bigint] NULL,
	[AllowEdit] [char](1) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_CM_T_PurchaseRefundTax] PRIMARY KEY CLUSTERED 
(
	[IDX_T_PurchaseRefundTax] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_T_PurchaseRefundTax] ADD  CONSTRAINT [DF_CM_T_PurchaseRefundTax_AllowEdit]  DEFAULT ('N') FOR [AllowEdit]
GO
ALTER TABLE [dbo].[CM_T_PurchaseRefundTax] ADD  CONSTRAINT [DF_CM_T_PurchaseRefundTax_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[CM_T_PurchaseRefundTax] ADD  CONSTRAINT [DF_CM_T_PurchaseRefundTax_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[CM_T_PurchaseRefundTax] ADD  CONSTRAINT [DF_CM_T_PurchaseRefundTax_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
