USE [AVKDB]
GO
/****** Object:  Table [dbo].[GL_M_FiscalPeriod]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GL_M_FiscalPeriod](
	[IDX_M_FiscalPeriod] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_M_Company] [bigint] NULL,
	[IDX_M_Branch] [bigint] NULL,
	[FiscalPeriod] [varchar](6) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[GLStatus] [char](1) NULL,
	[SalesStatus] [char](1) NULL,
	[PurchaseStatus] [char](1) NULL,
	[FinanceStatus] [char](1) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_GL_M_FiscalPeriod] PRIMARY KEY CLUSTERED 
(
	[IDX_M_FiscalPeriod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GL_M_FiscalPeriod] ADD  CONSTRAINT [DF_GL_M_FiscalPeriod_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[GL_M_FiscalPeriod] ADD  CONSTRAINT [DF_GL_M_FiscalPeriod_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[GL_M_FiscalPeriod] ADD  CONSTRAINT [DF_GL_M_FiscalPeriod_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
