USE [AVKDB]
GO
/****** Object:  Table [dbo].[SM_T_SessionHistory]    Script Date: 6/13/2026 2:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SM_T_SessionHistory](
	[IDX_T_SessionHistory] [bigint] IDENTITY(1,1) NOT NULL,
	[SessionID] [varchar](36) NULL,
	[IDX_M_User] [bigint] NULL,
	[LoginID] [varchar](32) NULL,
	[LoginName] [varchar](64) NULL,
	[LoginDate] [datetime] NULL,
	[ExpiredDate] [datetime] NULL,
	[IPAddress] [varchar](16) NULL,
 CONSTRAINT [PK_SM_T_SessionHistory] PRIMARY KEY CLUSTERED 
(
	[IDX_T_SessionHistory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
