USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_T_InternalTransferDetail]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_T_InternalTransferDetail](
	[IDX_T_InternalTransferDetail] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_InternalTransferHeader] [bigint] NOT NULL,
	[COADetail] [bigint] NULL,
	[TransferAmount] [decimal](22, 2) NULL,
	[RemarkDetail] [varchar](500) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_CM_T_InternalTransferDetail] PRIMARY KEY CLUSTERED 
(
	[IDX_T_InternalTransferDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_T_InternalTransferDetail] ADD  CONSTRAINT [DF_CM_T_InternalTransferDetail_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[CM_T_InternalTransferDetail] ADD  CONSTRAINT [DF_CM_T_InternalTransferDetail_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[CM_T_InternalTransferDetail] ADD  CONSTRAINT [DF_CM_T_InternalTransferDetail_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
