USE [AVKDB]
GO
/****** Object:  Table [dbo].[CM_T_FinancialPaymentLog]    Script Date: 6/13/2026 2:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CM_T_FinancialPaymentLog](
	[IDX_T_FinancialPaymentLog] [bigint] IDENTITY(1,1) NOT NULL,
	[IDX_T_FinancialPaymentHeader] [bigint] NOT NULL,
	[LogType] [varchar](50) NULL,
	[LogDate] [datetime] NULL,
	[LogRemark] [varchar](500) NULL,
	[UCreate] [varchar](36) NULL,
	[DCreate] [datetime] NULL,
	[UModified] [varchar](36) NULL,
	[DModified] [datetime] NULL,
	[RecordStatus] [varchar](1) NULL,
 CONSTRAINT [PK_CM_T_FinancialPaymentLog] PRIMARY KEY CLUSTERED 
(
	[IDX_T_FinancialPaymentLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CM_T_FinancialPaymentLog] ADD  CONSTRAINT [DF_CM_T_FinancialPaymentLog_LogType]  DEFAULT ('') FOR [LogType]
GO
ALTER TABLE [dbo].[CM_T_FinancialPaymentLog] ADD  CONSTRAINT [DF_CM_T_FinancialPaymentLog_UCreate]  DEFAULT (suser_name()) FOR [UCreate]
GO
ALTER TABLE [dbo].[CM_T_FinancialPaymentLog] ADD  CONSTRAINT [DF_CM_T_FinancialPaymentLog_DCreate]  DEFAULT (sysdatetime()) FOR [DCreate]
GO
ALTER TABLE [dbo].[CM_T_FinancialPaymentLog] ADD  CONSTRAINT [DF_CM_T_FinancialPaymentLog_RecordStatus]  DEFAULT ('A') FOR [RecordStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Draft, Approval, ReverseApproval, Validate, Void' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CM_T_FinancialPaymentLog', @level2type=N'COLUMN',@level2name=N'LogType'
GO
